<div>
  <span *ngIf="loading">
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </span>
  <div *ngIf="!readAllowed()">
    <span *ngIf="!loading">{{ "no read allowed" | translate }}</span>
  </div>
  <div>
    <div *ngIf="!loading">
      <scheda-titolo
        (vaiAScheda)="vaiAScheda($event)"
        (eseguiRichiesta)="eseguiRichiesta($event)"
        [currentNodo]="currentNodo"
        [writer]="writeAllowed()"
        [reader]="readAllowed()"
        [admin]="false"
        [scheda]="'/questionari/scheda'"
      ></scheda-titolo>
    </div>
    <div class="clearfix"></div>
    <div class="box-2-title" *ngIf="getCurrentNodoTipoId() == 'ambito' || getCurrentNodoTipoId() == 'valore'">
      <strong>{{ "codice" | translate }}</strong
      >: {{ nodo.codiceCompleto }}
    </div>
    <div class="clearfix"></div>
    <div *ngIf="getCurrentNodoTipoId() !== 'root'">
      <div class="d-flex flex-wrap mt-4">
        <div class="col-3">
          <b>{{ "intestazione" | translate }}:</b>
        </div>
        <div class="col-9">
          {{ nodo?.intestazione }}
        </div>

        <div class="col-3">
          <b>{{ "descrizione" | translate }}:</b>
        </div>
        <div class="col-9">
          {{ nodo?.descrizione }}
        </div>

        <div class="col-3" *ngIf="getCurrentNodoTipoId() === 'questionario'">
          <b>{{ "categorie" | translate }}:</b>
        </div>
        <div class="col-9" *ngIf="getCurrentNodoTipoId() === 'questionario'">
          <span *ngFor="let categoria of nodo?.categorie; let isLast = last"
            >{{ categoria?.descrizione }}&nbsp;{{isLast?"":", "}}&nbsp;
          </span>
        </div>

        <div class="col-3" *ngIf="getCurrentNodoTipoId() === 'questionario'">
          <b>{{ "incarichi" | translate }}:</b>
        </div>
        <div class="col-9" *ngIf="getCurrentNodoTipoId() === 'questionario'">
          <span *ngFor="let incarico of nodo?.incarichi; let isLast = last"
            >{{ incarico?.descrizione }}&nbsp;{{isLast?"":", "}}&nbsp;
          </span>
        </div>

        <div class="col-3" *ngIf="getCurrentNodoTipoId() !== 'root'">
          <b>{{ "peso" | translate }}:</b>
        </div>
        <div class="col-9" *ngIf="getCurrentNodoTipoId() !== 'root'">
          {{ nodo?.peso ? nodo?.peso + "%" : "0%" }}
        </div>

        <div class="col-3" *ngIf="getCurrentNodoTipoId() === 'ambito'">
          <b>{{ "finale" | translate }}:</b>
        </div>
        <div class="col-9" *ngIf="getCurrentNodoTipoId() === 'ambito'">
          {{ nodo?.foglia===true?"SI":"NO" }}
        </div>
        <div class="col-3" *ngIf="getCurrentNodoTipoId() === 'ambito' && nodo?.foglia===true">
          <b>{{ "pesoMancataAssegnazione" | translate }}:</b>
        </div>
         <div class="col-9" *ngIf="getCurrentNodoTipoId() === 'ambito' && nodo?.foglia===true">
          {{ nodo?.pesoMancataAssegnazione ? nodo?.pesoMancataAssegnazione + "%" : "0%" }}
        </div>
        <div class="col-3" *ngIf="getCurrentNodoTipoId() === 'ambito' && nodo?.foglia===true">
          <b>{{ "pesoMancatoColloquio" | translate }}:</b>
        </div>
         <div class="col-9" *ngIf="getCurrentNodoTipoId() === 'ambito' && nodo?.foglia===true">
          {{ nodo?.pesoMancatoColloquio ? nodo?.pesoMancatoColloquio + "%" : "0%" }}
        </div>
        <div class="col-3" *ngIf="getCurrentNodoTipoId() === 'ambito' && nodo?.foglia===true">
          <b>{{ "flagSoloAdmin" | translate }}:</b>
        </div>
         <div class="col-9" *ngIf="getCurrentNodoTipoId() === 'ambito' && nodo?.foglia===true">
          {{ nodo?.flagSoloAdmin===true?"SI":"NO" }}
        </div>
      </div>
    </div>
  </div>
  <br /><br />
  <table class="table align-middle table-responsive table-big" *ngIf="!loading && getCurrentNodoTipoId()!='valore'">
    <thead>
      <tr>
        <th scope="col"></th>
        <th
          scope="col"
          *ngIf="
            getCurrentNodoTipoId() == 'questionario' ||
            getCurrentNodoTipoId() == 'ambito'
          "
        >
          {{ "codice" | translate }}
        </th>
        <th scope="col">{{ "intestazione" | translate }}</th>
        <th scope="col">{{ "descrizione" | translate }}</th>
        <th
          scope="col"
          *ngIf="
            getCurrentNodoTipoId() == 'questionario' ||
            getCurrentNodoTipoId() == 'ambito'
          "
        >
          {{ "peso" | translate }}
        </th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr
        *ngFor="let item of items; let i = index"
        [ngClass]="{ oddRow: item.oddRow }"
      >
        <th scope="row">#{{ item.id }}</th>
        <td
          *ngIf="
            getCurrentNodoTipoId() == 'questionario' ||
            getCurrentNodoTipoId() == 'ambito'
          "
        >
          {{ item.codice }}
        </td>
        <td>{{ item.intestazione }}</td>
        <td>{{ item.descrizione }}</td>
        <td
          *ngIf="
            getCurrentNodoTipoId() == 'questionario' ||
            getCurrentNodoTipoId() == 'ambito'
          "
        >
          {{ item?.peso ? item?.peso + "%" : "0%" }}
        </td>
        <td
          *ngIf="
            getCurrentNodoTipoId() == 'questionario' ||
            getCurrentNodoTipoId() == 'ambito'
          "
        >
          <button
            type="button"
            (click)="modificaPesoPopup(item)"
            class="btn btn-secondary"
          >
            <i-bs name="pencil" width="1.5rem" height="1.5rem"></i-bs></button
          >&nbsp;
        </td>
      </tr>
    </tbody>
  </table>
  <pagination
    *ngIf="!loading && getCurrentNodoTipoId()!='valore'"
    [paginationService]="paginationService"
    class="flex-shrink-1"
  ></pagination>
</div>

<!--content-->
