<span *ngIf="loading">
  <div class="loader">
    <div class="spinner-border" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>
</span>
<div *ngIf="!loading">
  <scheda-titolo (vaiAScheda)="vaiAScheda($event)" (eseguiRichiesta)="eseguiRichiesta($event)"
        [currentProgrammazione]="currentProgrammazione" [writer]="writeAllowed()" [reader]="readAllowed()"
        [admin]="false" [scheda]="'/programmazione/indicatori'"></scheda-titolo>
  <div class="box-2-title mt-2">{{"gestione indicatori"|translate}}</div>
  <br><br>
  <table class="table align-middle table-responsive table-big" *ngIf="!loading">
    <thead>
      <tr>
              <th scope="col"></th>
              <th scope="col">{{"denominazione"|translate}}</th>
              <th scope="col">{{"tipo indicatore"|translate}}</th>
              <th scope="col">{{"scadenza"|translate}}</th>
              <th scope="col">{{"target"|translate}} {{anno}}</th>
              </tr>
    </thead>
    <tbody>
      <tr *ngFor="let indicatore of indicatori; let i=index" [ngClass]="{'oddRow': (i%2)}">
       <th scope="row">#{{ indicatore.id }}</th>
              <td>{{ indicatore.denominazione }}</td>
              <td>{{ indicatore.tipoIndicatore }}</td>
              <td>{{ fieldsService.convertDate(indicatore.scadenzaIndicatore)}}</td>
              <td>{{ indicatore.target }}</td>
         <td>
          <a title="{{'modifica indicatore'|translate}}" (click)="modificaIndicatorePopup(indicatore.id)"
            class="btn btn-free">
            <i-bs class="m-0" name="pen" width="1.5rem" height="1.5rem"></i-bs>
          </a>
          &nbsp;
          <a title="{{'rimuovi indicatore'|translate}}" (click)="elimina(indicatore.id)" class="btn btn-free">
            <i-bs class="m-0" name="trash" width="1.5rem" height="1.5rem"></i-bs>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
  <pagination [paginationService]="paginationService" class="flex-shrink-1"></pagination>
</div>
<!--content-->