<div class="content">
  <div class="breadcrumb">
    <a [routerLink]="['/home']">{{ "home" | translate }}</a> -
    <a [routerLink]="['/struttura']">{{ "struttura" | translate }}</a>
  </div>
  <div class="title">{{ "risorse" | translate }}</div>

  <strutturabar page="risorse"></strutturabar>

  <div class="maincnt">
    <span *ngIf="loading">
      <div class="loader">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </span>

    <form
      [formGroup]="cercaForm"
      (ngSubmit)="onSubmit()"
      *ngIf="!loading && cercaForm"
    >
      <div class="row">
        <div class="col-md-2">
          <label class="custom-control-label" for="interno">{{
            "interno" | translate
          }}</label>
          <div class="form-check form-switch">
            <input
              id="interno"
              class="form-check-input"
              formControlName="interno"
              type="checkbox"
            />
          </div>
        </div>
        <div class="col-md-2">
          <label class="custom-control-label" for="soloAttiveAnno">{{
            "solo attivi anno" | translate
          }}</label>
          <div class="form-check form-switch">
            <input
              id="soloAttiveAnno"
              class="form-check-input"
              formControlName="soloAttiveAnno"
              type="checkbox"
            />
          </div>
        </div>
        <div class="col-md-2">
          <div class="input-group mb-3">
            <ng-autocomplete
              class="form-control"
              formControlName="cerca"
              [data]="cognomi"
              [isLoading]="isLoadingResult"
              placeholder="Cognome"
              [searchKeyword]="keyword"
              (inputChanged)="onChangeSearch($event)"
              [itemTemplate]="itemTemplate"
              [notFoundTemplate]="notFoundTemplate"
            >
            </ng-autocomplete>

            <ng-template #itemTemplate let-item>
              <a [innerHTML]="item.description"></a>
            </ng-template>

            <ng-template #notFoundTemplate let-notFound>
              <div [innerHTML]="notFound"></div>
            </ng-template>
          </div>
        </div>
        <div class="col-md-2">
          <button class="btn btn-primary px-4">
            <i-bs name="search" width="1.5rem" height="1.5rem"></i-bs>
          </button>
        </div>
        <div class="col-md-6 text-end">
          <a
            *ngIf="writeAllowed()"
            [routerLink]="['/struttura/risorse/crea']"
            class="btn btn-primary px-4"
          >
            <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs
            >{{ "nuova" | translate }}
          </a>
        </div>
      </div>
    </form>

    <div class="table-responsive">
      <table class="table align-middle table-big" *ngIf="!loading">
        <thead>
          <tr>
            <th scope="col"></th>
            <th scope="col">{{ "interno" | translate }}</th>
            <th scope="col">
               <a class="toggleSort" (click)="toggleSort('cognome')">
              <app-arrow [sortDirection]="sortDirection" [activeSort]="sortType=='cognome'"></app-arrow>
              {{ "cognome" | translate }}</a>
            </th>
            <th scope="col">
              <a class="toggleSort" (click)="toggleSort('nome')">
              <app-arrow [sortDirection]="sortDirection" [activeSort]="sortType=='nome'"></app-arrow>
              {{ "nome" | translate }}</a>
            </th>
            <th scope="col">
              <a class="toggleSort" (click)="toggleSort('email')">
              <app-arrow [sortDirection]="sortDirection" [activeSort]="sortType=='email'"></app-arrow>
              {{ "email" | translate }}</a>
            </th>
            <th scope="col">
              <a class="toggleSort" (click)="toggleSort('inizioValidita')">
              <app-arrow [sortDirection]="sortDirection" [activeSort]="sortType=='inizioValidita'"></app-arrow>
              {{ "inizio" | translate }}</a>
            </th>
            <th scope="col">
              <a class="toggleSort" (click)="toggleSort('fineValidita')">
              <app-arrow [sortDirection]="sortDirection" [activeSort]="sortType=='fineValidita'"></app-arrow>
              {{ "fine" | translate }}</a>
            </th>
            <th scope="col">{{ "categoria" | translate }}</th>
            <th scope="col">{{ "profilo" | translate }}</th>
            <th scope="col">{{ "contratto" | translate }}</th>
            <th scope="col">{{ "incarico" | translate }}</th>
            <th scope="col">
              <a class="toggleSort" (click)="toggleSort('codiceInterno')">
              <app-arrow [sortDirection]="sortDirection" [activeSort]="sortType=='codiceInterno'"></app-arrow>
              {{ "codice interno" | translate }}</a>
            </th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="let risorsa of risorse; let i = index"
            [ngClass]="{ oddRow: i % 2 }"
          >
            <th scope="row">#{{ risorsa.id }}</th>
            <td>{{ risorsa.interno === false ? "No" : "Sì" }}</td>
            <td>{{ risorsa.cognome }}</td>
            <td>
              {{ risorsa.nome }}
            </td>
            <td>
              {{ risorsa.email }}
            </td>
            <td>
              {{ fieldsService.convertDate(risorsa.inizioValidita) }}
            </td>
            <td>
              {{ fieldsService.convertDate(risorsa.fineValidita) }}
            </td>
            <td>{{ risorsa.categoria }}</td>
            <td>{{ risorsa.profilo }}</td>
            <td>{{ risorsa.contratto }}</td>
            <td>{{ risorsa.incarico }}</td>
            <!-- <td>{{ risorsa.codiceFiscale }}</td> -->
            <td>{{ risorsa.codiceInterno }}</td>

            <td class="text-end">
              <a
                *ngIf="writeAllowed()"
                title="{{ 'modifica risorsa' | translate }}"
                [routerLink]="['/struttura/risorse/dettaglio/' + risorsa.id]"
                class="btn btn-free"
              >
                <i-bs
                  class="m-0"
                  name="pen"
                  width="1.5rem"
                  height="1.5rem"
                ></i-bs>
              </a>
              &nbsp;
              <a
                *ngIf="writeAllowed()"
                title="{{ 'elimina risorsa' | translate }}"
                (click)="elimina(risorsa.id)"
                class="btn btn-free"
              >
                <i-bs
                  class="m-0"
                  name="trash"
                  width="1.5rem"
                  height="1.5rem"
                ></i-bs>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="d-flex justify-content-between p-2"></div>

    <pagination
      [paginationService]="paginationService"
      class="flex-shrink-1"
    ></pagination>
  </div>
</div>
<!--content-->
