<div class="content">
  <div class="breadcrumb"><a [routerLink]="['/home']">{{'home'|translate}}</a> -    
    <a
      [routerLink]="['/sistema/anagrafiche/'+page]">{{'anagrafiche'|translate}}</a>
      </div>
  <div class="title">{{page?(('titolo '+page)|translate):''}}</div>

  <sistemabar [page]="'anagrafiche'"></sistemabar>

  <div class="p-3" *ngIf="!loading && !permissionService.getPermission(currentUser,Permission.Sistema,false)">
    {{"no permesso"|translate}}
    </div>

  <div class="maincnt" *ngIf="!loading && permissionService.getPermission(currentUser,Permission.Sistema,false)">

    <anagraficabar [page]="page"></anagraficabar>

    <span *ngIf="loading">
      <div class="loader">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </span>

      <div class="mt-3" *ngIf="!loading && creaForm">

            <form [formGroup]="creaForm" (ngSubmit)="onSubmit()">

              <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="box-2-title" *ngIf="id; else elseBlock">{{"modifica "+page|translate}}</div>
                  <ng-template #elseBlock><div class="box-2-title">{{"crea "+page|translate}}</div></ng-template>
                </div>

                <div class="col-md-12 mb-3" *ngIf="padre">
                  <div class="box-2-title">
                  <label>{{'padre'|translate}}: </label>&nbsp;
                  <label>{{padre.codiceCompleto}}</label> 
                  </div>
                </div>

                <div class="col-md-12 mb-3">
                  <label for="codice">{{'codice'|translate}} *</label>
                  <input id="codice" class="form-control form-control-border" type="text" formControlName="codice"
                    placeholder="{{'codice'|translate}}" [ngClass]="{ 'is-invalid': f.codice.errors }">
                </div>
                <div class="col-md-12 mb-3">
                  <label for="descrizione">{{'descrizione'|translate}}</label>
                  <textarea id="descrizione" formControlName="descrizione" class="form-control" [ngClass]="{
                    'is-invalid':
                      f.descrizione.errors}" type="text" placeholder=" ">
                </textarea>

                </div>

                <div class="col-md-12 mb-2" >
                  <label>{{"inizio validita"|translate}}</label>
                </div>
                <div class="col-md-12 mb-2">
                  <div class="input-group">
                    <input class="datepicker form-control" placeholder="" formControlName="inizioValidita" ngbDatepicker
                    #inizioValidita="ngbDatepicker"  [ngClass]="{ 'is-invalid': f.inizioValidita.errors }">
                    <div class="input-group-append">
                      <button  class="btn btn-outline-secondary calendar"
                        (click)="inizioValidita.toggle()" type="button"></button>
                    </div>
                    </div>
        
                </div>

                <div class="col-md-12 mb-2" >
                  <label>{{"fine validita"|translate}}</label>
                </div>
                <div class="col-md-12 mb-2">
                  <div class="input-group">
                    <input class="datepicker form-control" placeholder="" formControlName="fineValidita" ngbDatepicker
                    #fineValidita="ngbDatepicker" [ngClass]="{ 'is-invalid': f.fineValidita.errors }">
                    <div class="input-group-append">
                      <button  class="btn btn-outline-secondary calendar"
                        (click)="fineValidita.toggle()" type="button"></button>
                    </div>
                    </div>
        
                </div>


                <div class="col-md-12 mb-3 text-right mt-3">
                  <a [routerLink]="['/sistema/anagrafiche/'+page]" type="button" class="btn btn-secondary">{{'annulla'|translate}}</a>
                  <button [disabled]="creaForm.invalid" class="btn btn-primary spaceleft10">{{'salva'|translate}}</button>
                </div>

              </div>
            </form>

      </div>



  </div>
</div>
<!--content-->
