<div class="content login-page">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center mt-5"
    >
      <div class="col col-11 col-md-4">
        <div class="box">
          <div class="box-title pb-0">
            {{ "Logout" | translate }}
          </div>
          <div class="d-flex align-items-center">
            <div class="row">
              <label>{{ "Fine sessione" | translate}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>