<div class="content">
  
  <div class="breadcrumb">
    <a [routerLink]="['/home']">{{'home'|translate}}</a> - 
    <a [routerLink]="['/performance']">{{'performance'|translate}}</a>
  </div>
  <div class="title">{{'regolamento'|translate}}</div>

  <performancebar page="regolamento"></performancebar>

  <!--
  <div class="p-3"
    *ngIf="!loading && !permissionService.getPermission(currentUser,Permission.OrganigrammaStruttura,true)">
    {{"no permesso"|translate}}
  </div>
-->
  <!-- <div *ngIf="permissionService.getPermission(currentUser,Permission.OrganigrammaStruttura,true)"> -->
  <div>
    <div class="maincnt">
    
      <span *ngIf="loading">
        <div class="loader">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </span>

      <div class="row">
        <div class="col-md-4">
          <form [formGroup]="cercaForm" (ngSubmit)="onSubmit()" *ngIf="!loading && cercaForm">
            <div class="input-group mb-3">
              <input id="cerca" class="form-control" type="text" formControlName="cerca" placeholder="{{'Cerca'}}"
                [ngClass]="{ 'is-invalid': f.cerca.errors }">
              <button class="btn btn-primary">
                <i-bs name="search" width="1.5rem" height="1.5rem"></i-bs>
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-8 text-end">
          <a [routerLink]="['/performance/regolamento/crea']" class="btn btn-primary px-4">
            <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs>{{'nuovo'|translate}}
          </a>
        </div>
      </div>

      <div class="table-responsive">
        <table class="table align-middle table-big" *ngIf="!loading">
          <thead>
            <tr>
              <th scope="col"></th>
              <th scope="col">{{"intestazione"|translate}}</th>
              <th scope="col">{{"categorie"|translate}}</th>
              <th scope="col">{{"Peso obietttivi individuali"|translate}} %</th>
              <th scope="col">{{"Peso obietttivi di struttura"|translate}} %</th>
              <th scope="col">{{"Peso obietttivi di performance"|translate}} %</th>
              <th scope="col">{{"Peso comportamenti"|translate}} %</th>
              <th scope="col"></th>
            </tr>
          </thead>

          <tbody>
              <tr *ngFor="let reg of regolamenti; let i=index" [ngClass]="{'oddRow': (i%2)}">
              <td scope="row">#{{ reg.id }}</td>
              <td >{{ reg.intestazione }}</td>
              <td class="col-md-1">{{ reg.descCategorie }}</td>
              <td>{{ reg.pesoObiettiviIndividuali?reg.pesoObiettiviIndividuali:0 }} %</td>
              <td>{{ reg.pesoObiettiviDiStruttura?reg.pesoObiettiviDiStruttura:0 }} %</td>
              <td>{{ reg.pesoObiettiviDiPerformance?reg.pesoObiettiviDiPerformance:0 }} %</td>
              <td>{{ reg.pesoComportamentiOrganizzativi?reg.pesoComportamentiOrganizzativi:0 }} %</td>
              <td>
              <a *ngIf="writeAllowed()" title="{{'modifica regolamento'|translate}}"
                [routerLink]="['/performance/regolamento/regolamentodettaglio/'+reg.id]" class="btn btn-free">
                <i-bs class="m-0" name="pen" width="1.5rem" height="1.5rem"></i-bs>
              </a>
              &nbsp;
              <a *ngIf="writeAllowed()" title="{{'elimina regolamento'|translate}}" (click)="elimina(reg.id)"
                class="btn btn-free">
                <i-bs class="m-0" name="trash" width="1.5rem" height="1.5rem"></i-bs>
              </a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <pagination *ngIf="!loading " [paginationService]="paginationService" class="flex-shrink-1"></pagination>

  </div>
</div> 

<!--content-->
