<div class="custom-tab-cnt">
  <div *ngIf="permissionService.getPermission(currentUser,Permission.OrganigrammaStruttura,true)" class="custom-tab" [ngClass]="{'active':page==='organigramma'||page==='risorse-struttura'}"><a [routerLink]="['/struttura']">{{'organigramma'|translate}}</a></div>
  <div *ngIf="vediTutto()&&permissionService.getPermission(currentUser,Permission.RisorseStruttura,true)"  class="custom-tab" [ngClass]="{'active':page==='risorse' || page==='crearisorse'}"><a [routerLink]="['/struttura/risorse']">{{'risorse'|translate}}</a></div>
  <div *ngIf="vediTutto()&&permissionService.getPermission(currentUser,Permission.AmministratoriStruttura,true)"  class="custom-tab" [ngClass]="{'active':page==='amministratori' || page==='creaamministratore'}"><a [routerLink]="['/struttura/amministratori']">{{'amministratori'|translate}}</a></div>
</div>
