<div class="content">
  <div class="breadcrumb"><a [routerLink]="['/home']">{{'home'|translate}}</a> -     <a [routerLink]="['/sistema']">{{'sistema'|translate}}</a> </div>
  <div class="title">{{'utenti'|translate}}</div>

  <sistemabar [page]="idUtente?'utenti':'crea'"></sistemabar>

  <div class="p-3" *ngIf="!loading && !permissionService.getPermission(currentUser,Permission.Sistema,false)">
    {{"no permesso"|translate}}
    </div>

  <div class="maincnt" *ngIf="!loading && permissionService.getPermission(currentUser,Permission.Sistema,false)">


    <span *ngIf="loading">
      <div class="loader">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </span>

      <div class="" *ngIf="!loading && creaForm">

            <form [formGroup]="creaForm" (ngSubmit)="onSubmit()">

              <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="box-2-title" *ngIf="idUtente; else elseBlock">{{"modifica utente"|translate}}</div>
                  <ng-template #elseBlock><div class="box-2-title">{{"crea utente"|translate}}</div></ng-template>
                </div>

                <div class="col-md-12 mb-3">
                  <label for="username">{{'username'|translate}} *</label>
                  <input id="username" type="text" class="form-control form-control-border" formControlName="username"
                    placeholder="{{'username'|translate}}" [ngClass]="{ 'is-invalid': f.username.errors }">
                </div>
                <div class="col-md-12 mb-3">
                  <label for="nome">{{'nome'|translate}} *</label>
                  <input id="nome" class="form-control form-control-border" type="text" formControlName="nome"
                    placeholder="{{'nome'|translate}}" [ngClass]="{ 'is-invalid': f.nome.errors }">
                </div>
                <div class="col-md-12 mb-3">
                  <label class="form-control-placeholder-select" for="ruolo">{{"ruolo"|translate}} *</label>

                  <ng-select [ngClass]="{ 'is-invalid': !f.ruolo.value }"
                    id="ruolo" [items]="ruoli" [searchable]="false" [clearable]="false" bindLabel="descrizione" bindValue="codice"
                    formControlName="ruolo" placeholder=" ">
                    <ng-template ng-option-tmp let-item="item">
                      <label>{{item.descrizione}}</label>
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item">
                      <span>{{item.descrizione}}</span>
                    </ng-template>
                  </ng-select>

                        </div>

                <div class="col-md-12 mb-3">
                  <label class="form-control-placeholder-select" for="struttura">{{"struttura"|translate}}</label>
                  <ng-select
                  [ngClass]="{ 'is-invalid': !f.struttura.value }"
                  *ngIf="f.ruolo.value!=='AMMINISTRATORE'" id="struttura" [items]="strutture" [searchable]="true" [clearable]="false" bindLabel="descrizione" bindValue="id"
                    formControlName="struttura" placeholder=" ">
                    <ng-template ng-option-tmp let-item="item">
                      <label>{{item.descrizione}}</label>
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item">
                      <span>{{item.descrizione}}</span>
                    </ng-template>
                  </ng-select>
                </div>

                <div class="col-md-12 mb-3">
                  <label for="codiceFiscale">{{'codice fiscale'|translate}}</label>
                  <input id="codiceFiscale" class="form-control form-control-border" type="text" formControlName="codiceFiscale"
                    placeholder="{{'codice fiscale' | translate}}" [ngClass]="{ 'is-invalid': f.codiceFiscale.errors }">
                </div>

               <div class="col-md-12 mb-3" *ngIf="f.ruolo.value!=='AMMINISTRATORE' && f.ruolo.value!=='OIV'  
                  && f.ruolo.value!=='SUPPORTO_SISTEMA' " >
                  <label class="form-control-placeholder-select" for="ruoloAggiunto">{{"ruolo aggiunto"|translate}}</label>

                  <ng-select [ngClass]="{ 'is-invalid': !f.ruoloAggiunto.value }"
                    id="ruoloAggiunto" [items]="ruoliAgg" [searchable]="false" [clearable]="true" bindLabel="descrizione" bindValue="codice"
                    formControlName="ruoloAggiunto" placeholder=" ">
                    <ng-template ng-option-tmp let-item="item">
                      <label>{{item.descrizione}}</label>
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item">
                      <span>{{item.descrizione}}</span>
                    </ng-template>
                  </ng-select>
                </div>

                <div class="col-md-12 mb-3" *ngIf="f.ruolo.value!=='AMMINISTRATORE' && f.ruolo.value!=='OIV'  
                  && f.ruolo.value!=='SUPPORTO_SISTEMA' " >
                  <label class="form-control-placeholder-select" for="strutturaAggiunta">{{"struttura aggiunta"|translate}}</label>
                  <ng-select
                  [ngClass]="{ 'is-invalid': !f.strutturaAggiunta.value }"
                  id="strutturaAggiunta" [items]="strutture" [searchable]="true" [clearable]="true" bindLabel="descrizione" bindValue="id"
                    formControlName="strutturaAggiunta" placeholder=" ">
                    <ng-template ng-option-tmp let-item="item">
                      <label>{{item.descrizione}}</label>
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item">
                      <span>{{item.descrizione}}</span>
                    </ng-template>
                  </ng-select>
                </div>

                <div class="col-md-12 mb-3 text-right">
                  <a *ngIf="idUtente" (click)="apriPassword()" class="btn btn-secondary">{{'modifica password'|translate}}</a>
                  <a [routerLink]="['/sistema/utenti']" type="button" class="btn btn-secondary spaceleft10">{{'annulla'|translate}}</a>
                  <button [disabled]="creaForm.invalid" class="btn btn-primary spaceleft10">{{'salva'|translate}}</button>&nbsp;
                </div>
              </div>
            </form>

      </div>



  </div>
</div>
<!--content-->
