
      <div class="" *ngIf="cercaForm">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
        </div>
        <div class="" *ngIf="cercaForm">
        <form [formGroup]="cercaForm" (ngSubmit)="onSubmit()">
          <div class="row align-items-center">
              <div class="col-lg-2 col-md-3 col-sm-4 mb-3 p-3">
                <label class="form-control-placeholder-select" for="intestazione">{{"denominazione"|translate}}</label>
                <input type="text" class="form-control" formControlName="intestazione"
                  placeholder="{{'denominazione'|translate}}">
              </div>
              <div class="col-lg-2 col-md-3 col-sm-4 mb-3 p-3">
                <label class="form-control-placeholder-select" for="responsabile">{{"responsabile"|translate}}</label>
                <input type="text" class="form-control" formControlName="responsabile"
                  maxlength="30"
                  placeholder="{{'responsabile'|translate}}">
              </div>
              <div class="col-md-1 mb-2">        
                        <button class="btn btn-primary" type="submit">
                          <i-bs name="search" width="1.5rem" height="1.5rem"></i-bs>
                        </button>
              </div>
          </div>
        </form>
      </div>