<div>
  <span *ngIf="loading">
    <div class="loader">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
  </span>
  <div *ngIf="!loading && !readAllowed()">
    {{ "no read allowed" | translate }}
  </div>
  <div *ngIf="readAllowed() && !loading">
    <scheda-titolo
      (vaiAScheda)="vaiAScheda($event)"
      (eseguiRichiesta)="eseguiRichiesta($event)"
      [currentProgrammazione]="currentProgrammazione"
      [writer]="writeAllowed()"
      [add]="addAllowed()"
      [reader]="readAllowed()"
      [admin]="canReadNoteAssessore()"
      [nodo]="nodo"
      [scheda]="'/programmazione/scheda'"
    ></scheda-titolo>
    <div class="d-flex flex-wrap mt-4">
      <div class="col-3" *ngIf="visualizzaField('codice')">
        <b>{{ "codice" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('codice')">
        <span>
          {{ nodo?.codiceRidotto }}
        </span>
      </div>
      <div
        class="col-3"
        *ngIf="visualizzaField('bloccato')"
      >
        <b>{{ "bloccato" | translate }}:</b>
      </div>
      <div
        class="col-9"
        *ngIf="visualizzaField('bloccato')"
      >
        <span>
          {{ nodo?.bloccato === true ? "SI" : "NO" }}
        </span>
      </div>
      <div class="col-3" *ngIf="visualizzaField('organizzazione')">
        <b>{{ "unita organizzativa principale" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('organizzazione')">
        <span *ngIf="nodo?.organizzazione">
          {{ nodo?.organizzazione?.denominazione }}
        </span>
      </div>

      <div class="col-3" *ngIf="visualizzaField('organizzazioni')
      &&
          (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
            currentUser?.operator?.ruolo === 'AMMINISTRATORE')">
        <b>{{ "unita organizzative coinvolte" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('organizzazioni')
          && (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
            currentUser?.operator?.ruolo === 'AMMINISTRATORE')">
        <span
          *ngFor="let organizzazione of nodo?.organizzazioni; let isLast = last"
          >{{ organizzazione?.denominazione }}
          <br *ngIf="!isLast" />
        </span>
      </div>

      <div class="col-3" *ngIf="visualizzaField('descrizione')">
        <b>{{ "descrizione" | translate }}:</b>
      </div>
      <div
        class="col-9"
        *ngIf="visualizzaField('descrizione')"
        [innerHTML]="nodo?.descrizione"
      ></div>

      <div class="col-3" *ngIf="visualizzaField('strategico')">
        <b>{{ "strategico" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('strategico')">
        <span>
          {{ nodo?.strategico ? "SI" : "NO" }}
        </span>
      </div>

      <div class="col-3" *ngIf="visualizzaField('inizio')">
        <b>{{ "inizio" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('inizio')">
        <span>
          {{ fieldsService.convertDate(nodo?.inizio) }}
        </span>
      </div>
      <div class="col-3" *ngIf="visualizzaField('scadenza') && isAdmin()">
        <b>{{ "scadenza" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('scadenza') && isAdmin()">
        <span>
          {{ fieldsService.convertDate(nodo?.scadenza) }}
        </span>
      </div>

      <div class="col-3" *ngIf="visualizzaField('tipo')">
        <b>{{ "tipo" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('tipo')">
        {{ nodo?.tipo }}
      </div>
      <!-- <div class="col-3" *ngIf="visualizzaField('modalita')">
        <b>{{ "modalita" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('modalita')">
        {{ nodo?.modalita }}
      </div> -->
      <div class="col-3" *ngIf="visualizzaField('tipologia')">
        <b>{{ "obiettivo impatto" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('tipologia')">
        {{ nodo?.obiettivoImpatto === true ? "SI" : "NO" }}
      </div>

      <div class="col-3" *ngIf="visualizzaField('responsabili')">
        <b>{{ "responsabile" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('responsabili')">
          {{ nodo?.responsabile }}
      </div>

      <div class="col-3" *ngIf="visualizzaField('amministratori')">
        <b>{{ "amministratori" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('amministratori')">
        <span>
          {{ nodo?.amministratori }}
        </span>
      </div>
      <div class="col-3" *ngIf="visualizzaField('note')">
        <b>{{ "note" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('note')">
        <span [innerHTML]="nodo?.note"> </span>
      </div>

      <div
        class="col-3"
        *ngIf="
          visualizzaField('flagOIV') &&
          (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
            currentUser?.operator?.ruolo === 'AMMINISTRATORE')
        "
      >
        <b>{{ "flag OIV" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('flagOIV')&&
          (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
            currentUser?.operator?.ruolo === 'AMMINISTRATORE')">
        <span>
          {{ nodo?.flagOIV === true ? "SI" : "NO" }}
        </span>
      </div>

      <div
        class="col-3"
        *ngIf="
          visualizzaField('noteOIV') &&
          (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
            currentUser?.operator?.ruolo === 'AMMINISTRATORE')
        "
      >
        <b>{{ "note OIV" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('noteOIV')&&
          (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
            currentUser?.operator?.ruolo === 'AMMINISTRATORE')  ">
        <span>
          {{ nodo?.noteOIV }}
        </span>
      </div>

      <div class="col-3" *ngIf="visualizzaField('pnrr')">
        <b>{{ "pnrr" | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="visualizzaField('pnrr')">
        <span>
          {{ nodo?.flagPnrr === true ? "SI" : "NO" }}
        </span>
      </div>

      <div class="col-3" *ngIf="getCurrentNodoTipoId() > 1">
        <b>{{ getNodoPadre() | translate }}:</b>
      </div>
      <div class="col-9" *ngIf="getCurrentNodoTipoId() > 1">
        <span>
          {{ nodo?.padre?.codiceRidotto }} {{ nodo?.padre?.denominazione }}
        </span>
      </div>
    </div>
  </div>

  <br /><br />

  <div class="custom-tab-cnt">
    <div
      class="custom-tab"
      [ngClass]="{ active: selectedTab === 'figli' }"
      *ngIf="getCurrentNodoTipoId() < 4"
    >
      <a (click)="selectTab('figli')">{{ "livello successivo" | translate }}</a>
    </div>
    <div
      class="custom-tab"
      [ngClass]="{ active: selectedTab === 'indicatori' }"
      *ngIf="getCurrentNodoTipoId() == 4"
    >
      <a (click)="selectTab('indicatori')">{{
        "dettaglio indicatori" | translate
      }}</a>
    </div>
    <div
      class="custom-tab"
      [ngClass]="{ active: selectedTab === 'risorse' }"
      *ngIf="getCurrentNodoTipoId() > 0"
    >
      <a (click)="selectTab('risorse')">{{
        "dettaglio risorse umane" | translate
      }}</a>
    </div>
    <div
      class="custom-tab"
      [ngClass]="{ active: selectedTab === 'valorePubblico' }"
      *ngIf="visualizzaField('valorePubblico')"
    >
      <a (click)="selectTab('valorePubblico')">{{
        "valore pubblico" | translate
      }}</a>
    </div>
    <div
      class="custom-tab"
      [ngClass]="{ active: selectedTab === 'bsc' }"
      *ngIf="visualizzaField('bsc')"
    >
      <a (click)="selectTab('bsc')">{{ "Balanced Scorecard" | translate }}</a>
    </div>
  </div>

  <div
    *ngIf="selectedTab == 'valorePubblico' && visualizzaField('valorePubblico')"
  >
    <table
      class="table align-middle table-responsive table-big"
      *ngIf="!loading"
    >
      <tbody>
        <tr class="oddRow">
          <td>
            <b>{{ "Semplificazione" | translate }}:</b>
          </td>
          <td>
            <span>
              {{ nodo?.focusSemplificazione === true ? "SI" : "NO" }}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <b>{{ "Digitalizzazione" | translate }}:</b>
          </td>
          <td>
            <span>
              {{ nodo?.focusDigitalizzazione === true ? "SI" : "NO" }}
            </span>
          </td>
        </tr>
        <tr class="oddRow">
          <td>
            <b>{{ "Accessibilita" | translate }}:</b>
          </td>
          <td>
            <span>
              {{ nodo?.focusAccessibilita === true ? "SI" : "NO" }}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <b>{{ "Pari Opportunita" | translate }}:</b>
          </td>
          <td>
            <span>
              {{ nodo?.focusPariOpportunita === true ? "SI" : "NO" }}
            </span>
          </td>
        </tr>
        <tr class="oddRow">
          <td>
            <b>{{ "Risparmio Energetico" | translate }}:</b>
          </td>
          <td>
            <span>
              {{ nodo?.flagRisparmioEnergetico === true ? "SI" : "NO" }}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <b>{{ "Politica" | translate }}:</b>
          </td>
          <td>
            <span>
              {{ nodo?.politica }}
            </span>
          </td>
        </tr>
        <tr class="oddRow">
          <td>
            <b>{{ "Dimensione" | translate }}:</b>
          </td>
          <td>
            <span>
              {{ nodo?.dimensione }}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <b>{{ "Contributors" | translate }}:</b>
          </td>
          <td>
            <span>
              {{ nodo?.contributors }}
            </span>
          </td>
        </tr>
        <tr class="oddRow">
          <td>
            <b>{{ "Stakeholders" | translate }}:</b>
          </td>
          <td>
            <span>
              {{ nodo?.stakeholders }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="selectedTab == 'bsc' && visualizzaField('bsc')">
    <table
      class="table align-middle table-responsive table-big"
      *ngIf="!loading"
    >
      <tbody>
        <tr class="oddRow">
          <td>
            <b>{{ "Prospettiva" | translate }}:</b>
          </td>
          <td>
            <span>
              {{ nodo?.prospettiva }}
            </span>
          </td>
        </tr>
        <tr>
          <td>
            <b>{{ "Innovazione" | translate }}:</b>
          </td>
          <td>
            <span>
              {{ nodo?.innovazione }}
            </span>
          </td>
        </tr>
        <tr class="oddRow">
          <td>
            <b>{{ "Annualita" | translate }}:</b>
          </td>
          <td>
            <span>
              {{ nodo?.annualita }}
            </span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="selectedTab == 'indicatori' && getCurrentNodoTipoId() > 0">
    <table
      class="table align-middle table-responsive table-big"
      *ngIf="!loading"
    >
      <thead>
        <tr>
          <th scope="col">{{ "indicatore" | translate }}</th>
          <th scope="col">{{ "tipo indicatore" | translate }}</th>
          <th scope="col">{{ "scadenza indicatore" | translate }}</th>
          <th scope="col">{{ "target" | translate }} {{ anno }}</th>
        </tr>
      </thead>

      <tbody>
        <tr
          *ngFor="let indicatore of indicatori; let i = index"
          [ngClass]="{ oddRow: indicatore.oddRow }"
        >
          <td>{{ indicatore.indicatore }}</td>
          <td>{{ indicatore.tipoIndicatore }}</td>
          <td>
            {{ fieldsService.convertDate(indicatore.scadenzaIndicatore) }}
          </td>
          <td>
            {{ indicatore.target }}
          </td>
        </tr>
      </tbody>
    </table>

    <pagination
      *ngIf="!loading"
      [paginationService]="paginationService"
      class="flex-shrink-1"
    ></pagination>
  </div>

  <div *ngIf="selectedTab == 'risorse' && getCurrentNodoTipoId() > 0">
    <form [formGroup]="cercaRisorseForm" (ngSubmit)="onSubmitRisorse()">
      <div class="row">
        <div class="d-flex flex-wrap align-items-center">
          <div class="col-md-6 mb-3 p-3">
            <label class="form-control-placeholder-select" for="nomeRisorsa">{{
              "cerca nome risorsa" | translate
            }}</label>
            <input
              type="text"
              class="form-control"
              formControlName="nomeRisorsa"
              placeholder="{{ 'nome risorsa' | translate }}"
            />
          </div>
          <div class="col-md-1 mb-2">
            <button class="btn btn-primary" type="submit">
              <i-bs name="search" width="1.5rem" height="1.5rem"></i-bs>
            </button>
          </div>
        </div>
      </div>
    </form>

    <table
      class="table align-middle table-responsive table-big"
      *ngIf="!loading"
    >
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">{{ "risorsa umana" | translate }}</th>
          <th scope="col">{{ "unita organizzativa" | translate }}</th>
          <th scope="col">{{ "disponibile" | translate }}</th>
          <th scope="col">{{ "mesi" | translate }}</th>
          <th scope="col">{{ "esterna" | translate }}</th>
          <th scope="col">{{ "parttime" | translate }}</th>
          <th scope="col">{{ "ore parttime" | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let risorsa of risorseAssociateMostrate; let i = index"
          [ngClass]="{
            'bordo-rosso': risorsa.nodoPiano && i,
            oddRow: risorsa.odd
          }"
        >
          <th scope="row">
            {{ !risorsa.nodoPiano ? "#" + risorsa.idRisorsaUmana : "" }}
          </th>
          <td>{{ !risorsa.nodoPiano ? risorsa.nome : "" }}</td>
          <td>{{ !risorsa.nodoPiano ? risorsa?.orgs?.join(";") : "" }}</td>
          <td>
            <i-bs
              *ngIf="risorsa.disponibile === TipoDisponibile.Disponibile"
              name="check"
              width="1.5rem"
              height="1.5rem"
            ></i-bs>
          </td>
          <td>{{ risorsa.mesi }}</td>
          <td>
            <i-bs
              *ngIf="risorsa.esterna"
              name="check"
              width="1.5rem"
              height="1.5rem"
            ></i-bs>
          </td>
          <td>
            <i-bs
              *ngIf="risorsa.parttime"
              name="check"
              width="1.5rem"
              height="1.5rem"
            ></i-bs>
          </td>
          <td>{{ risorsa.oreParttime }}</td>
          <!--<td class="text-end">
                  <a *ngIf="!baseLevel" title="{{'rimuovi risorsa'|translate}}" (click)="elimina(risorsa.id)" class="btn btn-free">
                    <i-bs name="trash" width="1.5rem" height="1.5rem"></i-bs>
                  </a>

                </td>-->
        </tr>
      </tbody>
    </table>

    <pagination
      *ngIf="!loading"
      [paginationService]="paginationRisorseService"
      class="flex-shrink-1"
    >
    </pagination>
  </div>

  <div *ngIf="selectedTab == 'figli' && getCurrentNodoTipoId() < 4">
    <table
      class="table align-middle table-responsive table-big"
      *ngIf="!loading"
    >
      <thead>
        <tr>
          <th scope="col">{{ "codice" | translate }}</th>
          <th scope="col">{{ "denominazione" | translate }}</th>
          <th scope="col">{{ "struttura" | translate }}</th>
          <th scope="col">{{ "responsabile" | translate }}</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="let nodo of figli; let i = index"
          [ngClass]="{
            oddRow: i % 2
          }"
        >
          <td>{{ nodo.codice }}</td>
          <td>{{ nodo.denominazione }}</td>
          <td>{{ nodo.struttura }}</td>
          <td>{{ nodo.responsabile }}</td>
        </tr>
      </tbody>
    </table>

    <pagination
      *ngIf="!loading"
      [paginationService]="paginationFigliService"
      class="flex-shrink-1"
    >
    </pagination>
  </div>
</div>

<!--content-->
