<div class="content">
  <div class="breadcrumb"><a [routerLink]="['/home']">{{'home'|translate}}</a> - <a
      [routerLink]="['/sistema']">{{'sistema'|translate}}</a></div>
  <div class="title">{{'utenti'|translate}}</div>

  <sistemabar page="utenti"></sistemabar>
  <div class="p-3" *ngIf="!loading && !permissionService.getPermission(currentUser,Permission.Sistema,true)">
    {{"no permesso"|translate}}
    </div>

  <div *ngIf="permissionService.getPermission(currentUser,Permission.Sistema,true)">
    <div class="maincnt">

      <span *ngIf="loading">
        <div class="loader">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </span>


      <div class="row">
        <div class="col-md-8">
          <form [formGroup]="cercaForm" (ngSubmit)="onSubmit()" *ngIf="!loading && cercaForm">
            <div class="row align-items-center">
              <div class="col-lg col-md-3 col-sm-4 mb-3 p-3">
                <label class="form-control-placeholder-select" for="ruolo">{{"ruolo"|translate}}</label>

                <ng-select id="ruoli" [multiple]="false" [items]="ruoli"
                  [searchable]="false" [clearable]="true" bindLabel="descrizione" bindValue="codice"
                  formControlName="ruolo" placeholder="">
                  <ng-template ng-option-tmp let-item="item">
                    <label>{{item.descrizione}}</label>
                  </ng-template>
                  <ng-template ng-label-tmp let-item="item">
                    <span>{{item.descrizione}}</span>
                  </ng-template>
                </ng-select>
              </div>
              <div class="col-lg col-md-3 col-sm-4 mb-3 p-3">
                <label class="form-control-placeholder-select" for="idDirezione">{{"direzione"|translate}}</label>
                <ng-select id="direzioni" [multiple]="false" [items]="direzioni"
                  [searchable]="false" [clearable]="true" bindLabel="descrizione" bindValue="id"
                  formControlName="idDirezione" placeholder="">
                  <ng-template ng-option-tmp let-item="item">
                    <label>{{item.descrizione}}</label>
                  </ng-template>
                  <ng-template ng-label-tmp let-item="item">
                    <span>{{item.descrizione}}</span>
                  </ng-template>
                </ng-select>
              </div>
              <div class="col-lg col-md-3 col-sm-4 mb-3 p-3">
                <label class="form-control-placeholder-select" for="nome">{{"nome"|translate}}</label>
                <input type="text" class="form-control" formControlName="nome">
              </div>

              <div class="col-md-1 mb-2">
                  <button class="btn btn-primary btn-search" type="submit">
                    <i-bs name="search" width="1.5rem" height="1.5rem"></i-bs>
                  </button>
              </div>
            </div>
          </form>
        </div>
        <div class="col-md-4 text-end">
          <a *ngIf="writeAllowed()"  [routerLink]="['/sistema/utenti/crea']" class="btn btn-primary px-4">
            <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs>{{'nuovo utente'|translate}}
          </a>
        </div>
      </div>

      <div class="table-responsive">
      <table class="table align-middle table-big" *ngIf="!loading">
        <thead>
          <tr>
            <th scope="col">
            </th>
            <th scope="col">
              <a class="toggleSort" (click)="toggleSort('userid')">
              <app-arrow [sortDirection]="sortDirection" [activeSort]="sortType=='username'"></app-arrow>
              {{"username"|translate}}</a></th>
            <th scope="col">
              <a class="toggleSort" (click)="toggleSort('nome')">
                <app-arrow [sortDirection]="sortDirection" [activeSort]="sortType=='nome'"></app-arrow>
                {{"nome"|translate}}
                </a>
            </th>
            <th scope="col">
                {{"ruolo"|translate}}
            </th>
            <th scope="col">
                {{"struttura"|translate}}
            </th>
            <th scope="col">
                {{"risorsa"|translate}}
            </th>
            <th scope="col">
                 {{"ruolo aggiunto"|translate}}
            </th>
            <th scope="col">
                   {{"struttura aggiunta"|translate}}
            </th>
            <th scope="col"></th>

             <th scope="col align-self-end">
                   <button class="btn btn-secondary float-right" style="margin-right: 10px;" (click)="exportAsXLSX()" title="{{'xlsx'|translate}}">
                      <i-bs name="file-earmark-excel-fill" width="1.5rem" height="1.5rem" style="margin-top: -3px;"></i-bs>{{'xlsx'|translate}}
                   </button>
              </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let utente of utenti; let i=index" [ngClass]="{'oddRow': (i%2)}">
            <th scope="row">#{{ utente.id }}</th>
            <th scope="row">{{ utente.username }}</th>
            <td>{{ utente.nome }}</td>
            <th scope="row">{{ utente.ruoloLabel }}</th>
            <th scope="row">{{ utente.struttura }}</th>
            <th scope="row">{{ utente.matricola?utente.cognomeNome+" ["+utente.matricola+"]":""}}</th>
            <th scope="row">{{ utente.ruoloAggiuntoLabel }}</th>
            <th scope="row">{{ utente.strutturaAggiunta }}</th>
            <td class="text-end">
              <a *ngIf="writeAllowed()" [routerLink]="['/sistema/utenti/dettaglio/'+utente.id]" class="btn btn-free">
                <i-bs name="pen" width="1.5rem" height="1.5rem"></i-bs>
              </a>
              &nbsp;
              <a *ngIf="writeAllowed()" (click)="elimina(utente.id)" class="btn btn-free">
                <i-bs name="trash" width="1.5rem" height="1.5rem"></i-bs>
              </a>

            </td>
          </tr>
        </tbody>
      </table>
    </div>

      <div class="d-flex justify-content-between p-2">
      </div>

      <pagination *ngIf="!loading" [paginationService]="paginationService" class="flex-shrink-1"></pagination>

    </div>
  </div>
</div>
<!--content-->
