<div class="content">
  <div class="breadcrumb"><a [routerLink]="['/home']">{{'home'|translate}}</a> - <a
      [routerLink]="['/sistema']">{{'sistema'|translate}}</a>
      - <a
      [routerLink]="['/sistema/anagrafiche/'+page]">{{'anagrafiche'|translate}}</a></div>
  <div class="title">{{page?(('titolo '+page)|translate):''}}</div>

  <sistemabar page="anagrafiche"></sistemabar>
  <div class="p-3" *ngIf="!loading && !permissionService.getPermission(currentUser,Permission.Sistema,true)">
    {{"no permesso"|translate}}
    </div>

  <div *ngIf="permissionService.getPermission(currentUser,Permission.Sistema,true)">
    <div class="maincnt">

      <anagraficabar [page]="page"></anagraficabar>


      <span *ngIf="loading">
        <div class="loader">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </span>


      <div class="row mt-3">
        <div class="col-md-4">
          <form [formGroup]="cercaForm" (ngSubmit)="onSubmit()" *ngIf="!loading && cercaForm">
            <div class="input-group mb-3">
              <input id="cerca" class="form-control" type="text" formControlName="cerca" placeholder="{{'Cerca'}}"
                [ngClass]="{ 'is-invalid': f.cerca.errors }">
              <button class="btn btn-primary">
                <i-bs name="search" width="1.5rem" height="1.5rem"></i-bs>
              </button>
            </div>
          </form>
        </div>
        <div class="col-md-8 text-end">
          <a *ngIf="writeAllowed()"  [routerLink]="['/sistema/anagrafiche/'+page+'/crea']" class="btn btn-primary px-4">
            <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs>{{'nuovo '+page|translate}}
          </a>
        </div>
       
      </div>

     
      
      <div class="table-responsive">
      <table class="table align-middle table-big" *ngIf="!loading">
        <thead>
          <tr>
            <th scope="col">
              <a class="toggleSort" (click)="toggleSort('codice')">
                <app-arrow [sortDirection]="sortDirection" [activeSort]="sortType=='codice'"></app-arrow>
                {{"codice"|translate}}
                </a>

            </th>
            <th scope="col">
              <a class="toggleSort" (click)="toggleSort('descrizione')">
              <app-arrow [sortDirection]="sortDirection" [activeSort]="sortType=='descrizione'"></app-arrow>
              {{"descrizione"|translate}}</a></th>
            <th scope="col">
              <a class="toggleSort" (click)="toggleSort('iniziovalidita')">
                <app-arrow [sortDirection]="sortDirection" [activeSort]="sortType=='iniziovalidita'"></app-arrow>
                {{"inizio validita"|translate}}
                </a>

                </th>
                <th scope="col">
                  <a class="toggleSort" (click)="toggleSort('finevalidita')">
                    <app-arrow [sortDirection]="sortDirection" [activeSort]="sortType=='finevalidita'"></app-arrow>
                    {{"fine validita"|translate}}
                  </a>
    
                </th>
                <th scope="col align-self-end">
                  <button class="btn btn-secondary float-right" (click)="savePdf()" title="{{'pdf'|translate}}">
                      <i-bs name="file-earmark-pdf-fill" width="1.5rem" height="1.5rem" style="margin-top: -3px;"></i-bs>{{'pdf'|translate}}
                   </button>
                  <button class="btn btn-secondary float-right" style="margin-right: 10px;" (click)="exportAsXLSX()" title="{{'xlsx'|translate}}">
                      <i-bs name="file-earmark-excel-fill" width="1.5rem" height="1.5rem" style="margin-top: -3px;"></i-bs>{{'xlsx'|translate}}
                   </button>
                </th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of items; let i=index" [ngClass]="{ 'oddRow': (i%2) , 'trchild': item.livello && item.livello>=1 }">
            <th scope="row" [ngClass]="{'thchild': (item.livello?item.livello:0)>0 }"  
                [ngStyle]="{'background-position':10+(25*(item.livello?(item.livello-1):0))+'px' , 'padding-left' : 10+(25*(item.livello?(item.livello):0))+'px'}">{{item.codice}}</th>
            <td>{{item.descrizione}}</td>
            <td>{{fieldService.convertDate(item.inizioValidita)}}</td>
            <td>{{fieldService.convertDate(item.fineValidita)}}</td>
            <td class="text-end">
              <a *ngIf="writeAllowed()" [routerLink]="['/sistema/anagrafiche/'+page+'/dettaglio/'+item.id]" class="btn btn-free">
                <i-bs name="pen" width="1.5rem" height="1.5rem"></i-bs>
              </a>
              &nbsp;
              <a *ngIf="writeAllowed()" [routerLink]="['/sistema/anagrafiche/'+page+'/crea/'+item.id]" class="btn btn-free">
                <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs>
              </a>
              &nbsp;
              <a *ngIf="writeAllowed()" (click)="elimina(item.id)" class="btn btn-free">
                <i-bs name="trash" width="1.5rem" height="1.5rem"></i-bs>
              </a>

            </td>
          </tr>
        </tbody>
      </table>
    </div>
    

      <div class="d-flex justify-content-between p-2">
      </div>

      <pagination *ngIf="!loading" [paginationService]="paginationService" class="flex-shrink-1"></pagination>

    </div>
  </div>
</div>
<!--content-->
