<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    <span>{{ "scheda valutato" | translate }}</span>
  </h5>
  <button
    type="button"
    class="close"
    (click)="activeModal.close()"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <span class="loading" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </span>

  <div class="" *ngIf="!loading">
    <div class="row">
      <div class="col-md-12 mb-2">
        <label class="text-uppercase fs-1 fw-bold">{{
          scheda.cognome + " " + scheda.nome
        }}</label>
      </div>

      <div class="col-md-12 mb-3">
        <label class="fs-2">{{ "valutazione complessiva" | translate }}</label>
        &nbsp;&nbsp;
        <label class="fs-2 fw-bold">{{ scheda.valutazione }}</label>
      </div>
    </div>
    <table class="table align-middle table-responsive table-big">
      <thead>
        <tr>
          <th scope="col">{{ "valutatore" | translate }}</th>
          <th scope="col">{{ "struttura" | translate }}</th>
          <th scope="col">{{ "responsabile" | translate }}</th>
          <!-- <th scope="col">{{ "inizio" | translate }}</th> -->
          <th scope="col">{{ "fine" | translate }}</th>
          <th scope="col">{{ "questionario" | translate }}</th>
          <th scope="col">{{ "regolamento" | translate }}</th>
          <th scope="col">{{ "valutazione" | translate }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let v of scheda.valutazioni">
          <th>{{ v.valutatore }}</th>
          <th>{{ v.struttura }}</th>
          <th>{{ v.responsabile===true?'SI':'NO' }}</th>
          <!-- <th>{{ fieldsService.convertDate(v.inizio) }}</th> -->
          <th>{{ fieldsService.convertDate(v.fine) }}</th>
          <th>{{ v.questionario }}</th>
          <th>{{ v.regolamento }}</th>
          <th>{{ v.valutazione }}</th>
        </tr>
      </tbody>
    </table>
  </div>
</div>
