<div class="d-flex flex-wrap align-items-center justify-content-center">
  <div class="col-12">
    <div
      class="box-2-title box-bgtitle"
      [ngClass]="{
        'box-nodo': getCurrentNodoTipoId() == 0,
        'box-area': getCurrentNodoTipoId() == 1,
        'box-obiettivo': getCurrentNodoTipoId() == 2,
        'box-azione': getCurrentNodoTipoId() == 3 || getCurrentNodoTipoId() == 4
      }"
    >
      <div class="float-left">
        <span *ngIf="getCurrentNodoTipoId() == 0"
          >{{ "piano" | translate }}:
        </span>
        <span *ngIf="getCurrentNodoTipoId() == 1"
          >{{ "area" | translate }}:
        </span>
        <span *ngIf="getCurrentNodoTipoId() == 2"
          >{{ "obiettivo" | translate }}:
        </span>
        <span *ngIf="getCurrentNodoTipoId() == 3"
          >{{ "azione" | translate }}:
        </span>
        <span *ngIf="getCurrentNodoTipoId() == 4"
          >{{ "fase" | translate }}:
        </span>

        {{ currentProgrammazione?.item }}
      </div>

      <div #menuprogdropdown class="float-right">
        <i-bs
          class="three-dots-vertical"
          name="three-dots-vertical"
          width="1.5rem"
          height="1.5rem"
          (click)="menuprog = !menuprog"
        ></i-bs>
        <div class="menuprog" *ngIf="menuprog">
          <button
            *ngIf="
              getCurrentNodoTipoId() == 0 &&
              writeAllowed() &&
              nodo?.abilitaObiettiviEIndicatori===true &&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE') &&
              scheda == Schede.programmazione
            "
            type="button"
            (click)="aggiungiNodo()"
            class="btn btn-primary"
          >
            <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs>
            {{ "aggiungi area" | translate }}
          </button>
          <button
            *ngIf="
              getCurrentNodoTipoId() == 1 &&
              writeAllowed() &&
              nodo?.abilitaObiettiviEIndicatori===true &&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE') &&
              scheda == Schede.programmazione
            "
            type="button"
            (click)="aggiungiNodo()"
            class="btn btn-primary"
          >
            <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs>
            {{ "aggiungi obiettivo" | translate }}
          </button>
          <button
            *ngIf="
              getCurrentNodoTipoId() == 2 &&
              writeAllowed() &&
              nodo?.abilitaObiettiviEIndicatori===true &&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE') &&
              scheda == Schede.programmazione
            "
            type="button"
            (click)="aggiungiNodo()"
            class="btn btn-primary"
          >
            <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs>
            {{ "aggiungi azione" | translate }}
          </button>
          <button
            *ngIf="
              getCurrentNodoTipoId() === 3 &&
              nodo?.abilitaObiettiviEIndicatori===true &&
              (writeAllowed() || addAllowed()) &&
              scheda == Schede.programmazione
            "
            type="button"
            (click)="aggiungiNodo()"
            class="btn btn-primary"
          >
            <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs>
            {{ "aggiungi fase" | translate }}
          </button>
          &nbsp;
          <button
            *ngIf="
              getCurrentNodoTipoId() === 3 &&
              writeAllowed() &&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE') &&
              scheda == Schede.programmazione
            "
            type="button"
            (click)="spostaNodo()"
            class="btn btn-primary"
          >
            <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs>
            {{ "sposta azione" | translate }}
          </button>
          &nbsp;
          <button
            *ngIf="
              writeAllowed() &&
              nodo?.abilitaObiettiviEIndicatori===true &&
              getCurrentNodoTipoId() > 0 &&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE' ||
                ( getCurrentNodoTipoId() === 3 && nodo?.bloccato===false)
              ) &&
              scheda == Schede.programmazione
            "
            type="button"
            (click)="modificaNodo()"
            class="btn btn-secondary"
          >
            <i-bs name="pen" width="1.5rem" height="1.5rem"></i-bs>
            {{ "modifica" | translate }}
          </button>
          &nbsp;
          <button
            *ngIf="
              writeAllowed() &&
              nodo?.abilitaObiettiviEIndicatori===true &&
              getCurrentNodoTipoId() >0 &&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE' ||
                ( getCurrentNodoTipoId() === 3 && nodo?.bloccato===false) 
              ) &&
              scheda != Schede.consuntivazione &&
              scheda != Schede.indicatori
            "
            (click)="vaiASchedaIndicatori()"
            type="button"
            class="btn btn-secondary"
          >
            <i-bs name="arrow-right" width="1.5rem" height="1.5rem"></i-bs>
            {{ "gestione indicatori" | translate }}
          </button>
          &nbsp;
          <button
            *ngIf="
              writeAllowed() &&
              getCurrentNodoTipoId() > 0 &&
              scheda != Schede.consuntivazione &&
              scheda != Schede.risorse &&
              nodo?.abilitaAssociaRisorse===true &&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE' ||
                getCurrentNodoTipoId() === 3  
                || (getCurrentNodoTipoId() === 2 && nodo?.obiettivoImpatto===true))
            "
            (click)="vaiASchedaRisorse()"
            type="button"
            class="btn btn-secondary"
          >
            <i-bs name="arrow-right" width="1.5rem" height="1.5rem"></i-bs>
            {{ "gestione risorse" | translate }}
          </button>
          &nbsp;
          <button
            type="button"
            *ngIf="
              writeAllowed() &&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE' ||
                getCurrentNodoTipoId() === 3) &&
              scheda == Schede.indicatori
            "
            (click)="aggiungiIndicatore()"
            class="btn btn-primary"
          >
            <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs>
            {{ "aggiungi indicatore" | translate }}
          </button>
          &nbsp;
          <button
            type="button"
            *ngIf="
              writeAllowed() &&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE' ||
                getCurrentNodoTipoId() === 3) &&
              scheda == Schede.risorse
            "
            (click)="aggiungiRisorsa()"
            class="btn btn-primary"
          >
            <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs>
            {{ "aggiungi risorsa" | translate }}
          </button>
          <!-- &nbsp;
          <button
            *ngIf="
              (getCurrentNodoTipoId() == 0 || getCurrentNodoTipoId() == 1) &&
              writeAllowed() &&
              scheda != Schede.consuntivazione &&
              scheda != Schede.pesatura
            "
            (click)="vaiASchedaPesatura()"
            type="button"
            class="btn btn-secondary"
          >
            <i-bs name="arrow-right" width="1.5rem" height="1.5rem"></i-bs>
            {{ "pesatura obiettivi" | translate }}
          </button> -->
          &nbsp;
          <button
            type="button"
            *ngIf="
              writeAllowed() &&
              nodo?.abilitaObiettiviEIndicatori===true &&
              getCurrentNodoTipoId() != 0 &&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE') &&
              scheda == Schede.programmazione
            "
            (click)="elimina()"
            class="btn btn-secondary"
          >
            <i-bs name="trash" width="1.5rem" height="1.5rem"></i-bs>
            {{ "elimina" | translate }}
          </button>
          &nbsp;
          <button
            type="button"
            *ngIf="
              writeAllowed() &&
              getCurrentNodoTipoId() != 0 &&
              scheda !== Schede.programmazione &&
              scheda !== Schede.consuntivazione
            "
            (click)="vaiAProgrammazione()"
            class="btn btn-secondary"
          >
            <i-bs name="card-text" width="1.5rem" height="1.5rem"></i-bs>
            {{ "programmazione" | translate }}
          </button>
          &nbsp;
          <button
            type="button"
            *ngIf="
              writeAllowed() &&
              scheda == Schede.consuntivazione &&
              nodo?.enabledConsuntivo === true &&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE')
            "
            (click)="forzature()"
            class="btn btn-secondary"
          >
            <i-bs name="pen" width="1.5rem" height="1.5rem"></i-bs>
            {{ "forzatura" | translate }}
          </button>
          &nbsp;
          <button
            type="button"
            *ngIf="
              writeAllowed() &&
              scheda == Schede.consuntivazione &&
              nodo?.enabledConsuntivo === true
            "
            (click)="note()"
            class="btn btn-secondary"
          >
            <i-bs name="pen" width="1.5rem" height="1.5rem"></i-bs>
            {{ "note" | translate }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
