
::ng-deep .ng-select.is-invalid .ng-select-container,
input.is-invalid.form-control{
    border: 1px solid #ced4da !important;
}

::ng-deep input.is-invalid{
    border: 1px solid #ced4da !important;
}

::ng-deep input.ng-invalid{
  border: 1px solid #ced4da !important;
}


