::ng-deep .ng-select.is-invalid .ng-select-container,
input.is-invalid.form-control{
    border: 1px solid #ced4da !important;
}


.custom-tab {
  margin-bottom:10px;

}

.spazioso {
  height:56px;
}


.datepicker {
  max-width:300px;
}

::ng-deep input.is-invalid{
    border: 1px solid #ced4da !important;
}

