<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    <span *ngIf="id !== undefined && readOnly">{{
      "visualizza indicatore" | translate
    }}</span>
    <span *ngIf="id !== undefined && !readOnly">{{
      "modifica indicatore" | translate
    }}</span>
    <span *ngIf="id === undefined">{{
      "aggiungi indicatore" | translate
    }}</span>
  </h5>
  <button
    type="button"
    class="close"
    (click)="activeModal.close()"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <span class="loading" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </span>

  <div *ngIf="id !== undefined" class="custom-tab-cnt">
    <div
      class="custom-tab"
      [ngClass]="{ active: !page || page === 'indicatore' }"
    >
      <a (click)="setPage('indicatore')">{{
        "indicatore formula" | translate
      }}</a>
    </div>
    <div class="custom-tab" [ngClass]="{ active: page === 'target' }">
      <a (click)="setPage('target')">{{ "target" | translate }}</a>
    </div>
    <!--<div class="custom-tab" [ngClass]="{'active':page==='range'}"><a (click)='setPage("range")'>{{'range
        raggiungimento'|translate}}</a></div>-->
  </div>

  <div
    class=""
    *ngIf="!loading && creaForm && (!page || page === 'indicatore')"
  >
    <form [formGroup]="creaForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="col-md-12 mb-3">
            <label class="form-control-placeholder-select" for="idIndicatore">{{
              "indicatore formula" | translate
            }}*</label>
            <ng-select
              [readonly]="readOnly"
              [ngClass]="{ 'is-invalid': !f.idIndicatore.value }"
              id="idIndicatore"
              [multiple]="false"
              [items]="indicatoriFormula"
              [searchable]="false"
              [clearable]="false"
              bindLabel="descrizione"
              bindValue="id"
              formControlName="idIndicatore"
            >
              <ng-template ng-option-tmp let-item="item">
                <label>{{ item.denominazione }}</label>
              </ng-template>
              <ng-template ng-label-tmp let-item="item">
                <span>{{ item.denominazione }}</span>
              </ng-template>
            </ng-select>
          </div>

          <div class="col-md-12 mb-3">
            <label for="specifica">{{ "denominazione" | translate }}*</label>
            <input
              [readonly]="readOnly"
              id="specifica"
              type="text"
              class="form-control form-control-border"
              formControlName="specifica"
              placeholder="{{ 'denominazione' | translate }}"
              [ngClass]="{ 'is-invalid': f.specifica.errors }"
            />
          </div>
          <div
            class="col-md-12 mb-3"
            *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
          >
            <label for="specificaNumeratore">{{
              "numeratore" | translate
            }}</label>
            <input
              [readonly]="readOnly"
              id="specificaNumeratore"
              type="text"
              class="form-control form-control-border"
              formControlName="specificaNumeratore"
              placeholder="{{ 'numeratore' | translate }}"
              [ngClass]="{ 'is-invalid': f.specificaNumeratore.errors }"
            />
          </div>
          <div
            class="col-md-12 mb-3"
            *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
          >
            <label for="specificaDenominatore">{{
              "denominatore" | translate
            }}</label>
            <input
              [readonly]="readOnly"
              id="specificaDenominatore"
              type="text"
              class="form-control form-control-border"
              formControlName="specificaDenominatore"
              placeholder="{{ 'denominatore' | translate }}"
              [ngClass]="{ 'is-invalid': f.specificaDenominatore.errors }"
            />
          </div>
          <div
            class="col-md-12 mb-3"
            *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO' || tipoFormula === 'TIPO_FORMULA_NUMERO'"
          >
            <label for="specificaPercentuale">{{
              "percentuale" | translate
            }}</label>
            <input
              id="specificaPercentuale"
              type="checkbox"
              class="form-check form-switch"
              role="switch"
              formControlName="specificaPercentuale"
              [ngClass]="{ 'is-invalid': f.specificaPercentuale.errors }"
            />
          </div>

          <div class="col-md-12 mb-3">
            <label for="tipoIndicatore">{{
              "tipo indicatore" | translate
            }}</label>
            <ng-select
              [readonly]="readOnly"
              [ngClass]="{ 'is-invalid': !f.tipoIndicatore.value }"
              id="tipoIndicatore"
              [multiple]="false"
              [items]="tipiIndicatore"
              [searchable]="false"
              [clearable]="false"
              formControlName="tipoIndicatore"
            >
            </ng-select>
          </div>

          <div class="col-md-12 mb-3">
            <label for="scadenzaIndicatore">{{
              "scadenza indicatore" | translate
            }}</label>
            <input
              [readonly]="readOnly"
              id="scadenzaIndicatore"
              type="date"
              class="form-control form-control-border datepicker"
              formControlName="scadenzaIndicatore"
              [ngClass]="{ 'is-invalid': f.scadenzaIndicatore.errors }"
            />
          </div>
          <div class="col-md-12 mb-3"
          *ngIf="
              tipoFormula !== 'TIPO_FORMULA_BULEANO'
            ">
            <label class="form-control-placeholder-select" for="crescente">{{
              "crescente decrescente" | translate
            }}</label>

            <ng-select
              [readonly]="readOnly"
              [ngClass]="{ 'is-invalid': !f.crescente.value }"
              id="crescente"
              [multiple]="false"
              [items]="crescenti"
              [searchable]="false"
              [clearable]="false"
              bindLabel="descrizione"
              bindValue="value"
              formControlName="crescente"
            >
              <ng-template ng-option-tmp let-item="item">
                <label>{{ item.descrizione | translate }}</label>
              </ng-template>
              <ng-template ng-label-tmp let-item="item">
                <span>{{ item.descrizione | translate }}</span>
              </ng-template>
            </ng-select>
          </div>
          <div
            class="col-md-12 mb-3"
            *ngIf="
              tipoFormula === 'TIPO_FORMULA_RAPPORTO' ||
              tipoFormula === 'TIPO_FORMULA_NUMERO'
            "
          >
            <label for="specificaDecimali">{{ "decimali" | translate }}</label>
            <input
              id="specificaDecimali"
              class="form-control form-control-border"
              type="number"
              formControlName="specificaDecimali"
              placeholder="{{ 'decimali' | translate }}"
              [ngClass]="{ 'is-invalid': f.specificaDecimali.errors }"
            />
          </div>
          <div
            class="col-md-12 mb-3"
            *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
          >
            <label for="specificaDecimaliA">{{
              "decimaliA" | translate
            }}</label>
            <input
              id="specificaDecimaliA"
              class="form-control form-control-border"
              type="number"
              formControlName="specificaDecimaliA"
              placeholder="{{ 'decimaliA' | translate }}"
              [ngClass]="{ 'is-invalid': f.specificaDecimaliA.errors }"
            />
          </div>
          <div
            class="col-md-12 mb-3"
            *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
          >
            <label for="specificaDecimaliB">{{
              "decimaliB" | translate
            }}</label>
            <input
              id="specificaDecimaliB"
              class="form-control form-control-border"
              type="number"
              formControlName="specificaDecimaliB"
              placeholder="{{ 'decimaliB' | translate }}"
              [ngClass]="{ 'is-invalid': f.specificaDecimaliB.errors }"
            />
          </div>
        </div>
        <div class="col-md-6 mb-3">
          <span class="col-12 text-primary font-weight-bold">
            {{ "Valore Pubblico" | translate }}
          </span>

          <div class="col-md-12 mb-3">
            <label for="dimensione">{{ "dimensione" | translate }}</label>
            <ng-select
              [readonly]="readOnly"
              [ngClass]="{ 'is-invalid': !f.dimensione.value }"
              id="dimensione"
              [multiple]="false"
              [items]="dimensioni"
              [searchable]="false"
              [clearable]="true"
              formControlName="dimensione"
            >
            </ng-select>
          </div>
          <div class="col-md-12 mb-3">
            <label for="baseline">{{ "baseline" | translate }}</label>
            <input
              [readonly]="readOnly"
              id="baseline"
              type="text"
              class="form-control form-control-border"
              formControlName="baseline"
              placeholder="{{ 'baseline' | translate }}"
              [ngClass]="{ 'is-invalid': f.baseline.errors }"
            />
          </div>
          <div class="col-md-12 mb-3">
            <label for="fonte">{{ "fonte" | translate }}</label>
            <input
              [readonly]="readOnly"
              id="fonte"
              type="text"
              class="form-control form-control-border"
              formControlName="fonte"
              placeholder="{{ 'fonte' | translate }}"
              [ngClass]="{ 'is-invalid': f.fonte.errors }"
            />
          </div>
          <br />
          <span class="col-12 text-primary font-weight-bold">
            {{ "Balanced Scorecard" | translate }}
          </span>
          <div class="col-md-12 mb-3">
            <label for="prospettiva">{{ "prospettiva" | translate }}</label>
            <ng-select
              [readonly]="readOnly"
              [ngClass]="{ 'is-invalid': !f.prospettiva.value }"
              id="prospettiva"
              [multiple]="false"
              [items]="listaProspettve"
              [searchable]="false"
              [clearable]="true"
              formControlName="prospettiva"
            >
            </ng-select>
          </div>
          <div class="col-md-12 mb-3">
            <label for="note">{{ "note" | translate }} </label>
            <textarea
              [readonly]="readOnly"
              id="note"
              class="form-control form-control-border"
              type="text"
              formControlName="note"
              placeholder="{{ 'note' | translate }}"
              [ngClass]="{ 'is-invalid': f.note.errors }"
            ></textarea>
          </div>
        </div>
        <div class="col-md-12 mb-3 text-end">
          <a
            *ngIf="!readOnly"
            (click)="activeModal.close()"
            type="button"
            class="btn btn-secondary"
            >{{ "annulla" | translate }}</a
          >
          &nbsp;
          <button
            *ngIf="!readOnly"
            [disabled]="creaForm.invalid"
            class="btn btn-primary"
          >
            {{ "salva" | translate }}
          </button>
        </div>
      </div>
    </form>
  </div>

  <div class="" *ngIf="!loading && targetForm && page === 'target'">
    <form [formGroup]="targetForm" (ngSubmit)="onSubmitTarget()">
      <!-- <div class="row">
        <div class="col-md-3 mb-3">
          <label>{{ "peso" | translate }}</label>
          <input
            type="number"
            class="form-control form-control-border"
            formControlName="peso"
          />
        </div>
      </div> -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="box-2-title">{{ target?.denominazione }}</div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="box-2-title">{{ "storico" | translate }}</div>
        </div>
        <div class="col-md-3 mb-3">
          <div class="box-2-title">{{ "target" | translate }} {{ anno }}</div>
        </div>
      </div>

      <!-- INDICATORI TARGET -->
      <div class="row">
        <div class="col-md-6 mb-3">
          <div class="col-md-12">
            {{
              tipoFormula === "TIPO_FORMULA_RAPPORTO" ? target?.numeratore : ""
            }}
          </div>
          <div
            class="col-md-12"
            *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
          >
            {{ target?.numeratore }}
          </div>
        </div>
        <div class="col-md-3 mb-3" formGroupName="storico">
          <div
            class="col-md-12"
            *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
          >
            <input
              *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
              type="number"
              class="form-control form-control-border"
              formControlName="valoreNumericoA"
            />
          </div>
          <div
            class="col-md-12"
            *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
          >
            <input
              *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
              type="number"
              class="form-control form-control-border"
              formControlName="valoreNumericoB"
            />
          </div>
          <input
            *ngIf="tipoFormula === 'TIPO_FORMULA_NUMERO'"
            type="number"
            class="form-control form-control-border"
            formControlName="valoreNumerico"
          />
          <input
            *ngIf="tipoFormula === 'TIPO_FORMULA_BULEANO'"
            class="form-check-input"
            formControlName="valoreBooleano"
            type="checkbox"
          />
          <input
            *ngIf="tipoFormula === 'TIPO_FORMULA_DATA'"
            type="date"
            class="datepicker form-control form-control-border"
            formControlName="valoreTemporale"
          />
        </div>
        <div class="col-md-3 mb-3" formGroupName="target">
          <div
            class="col-md-12"
            *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
          >
            <input
              *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
              type="number"
              class="form-control form-control-border"
              formControlName="valoreNumericoA"
            />
          </div>
          <div
            class="col-md-12"
            *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
          >
            <input
              *ngIf="tipoFormula === 'TIPO_FORMULA_RAPPORTO'"
              type="number"
              class="form-control form-control-border"
              formControlName="valoreNumericoB"
            />
          </div>

          <input
            *ngIf="tipoFormula === 'TIPO_FORMULA_NUMERO'"
            type="number"
            class="form-control form-control-border"
            formControlName="valoreNumerico"
          />
          <input
            *ngIf="tipoFormula === 'TIPO_FORMULA_BULEANO'"
            class="form-check-input"
            formControlName="valoreBooleano"
            type="checkbox"
          />
          <input
            *ngIf="tipoFormula === 'TIPO_FORMULA_DATA'"
            type="date"
            class="datepicker form-control form-control-border"
            formControlName="valoreTemporale"
          />
        </div>
      </div>

      <div class="mt-3 text-end">
        <a
          *ngIf="!readOnly"
          (click)="activeModal.close()"
          type="button"
          class="btn btn-secondary"
          >{{ "annulla" | translate }}</a
        >
        &nbsp;
        <button
          *ngIf="!readOnly"
          [disabled]="targetForm.invalid"
          class="btn btn-primary"
        >
          {{ "salva" | translate }}
        </button>
      </div>
    </form>
  </div>

  <div class="" *ngIf="!loading && rangeForm && page === 'range'">
    <form [formGroup]="rangeForm" (ngSubmit)="onSubmitRange()">
      <div class="row" formArrayName="range">
        <div class="col-md-12 mb-3">
          <table
            class="table align-middle table-responsive table-big"
            *ngIf="!loading"
          >
            <thead>
              <tr>
                <th scope="col">{{ "minimo" | translate }}</th>
                <th scope="col">{{ "massimo" | translate }}</th>
                <th scope="col">{{ "valore" | translate }}</th>
                <th scope="col">{{ "proporzionale" | translate }}</th>
              </tr>
            </thead>
            <tbody>
              <tr
                *ngFor="let range of getRanges().controls; let i = index"
                [ngClass]="{ oddRow: i % 2 }"
              >
                <td [formGroupName]="i">
                  <input type="hidden" formControlName="id" />
                  <input
                    [readonly]="readOnly"
                    type="number"
                    class="form-control form-control-border"
                    formControlName="minimo"
                  />
                </td>

                <td [formGroupName]="i">
                  <input
                    [readonly]="readOnly"
                    type="number"
                    class="form-control form-control-border"
                    formControlName="massimo"
                  />
                </td>
                <td [formGroupName]="i">
                  <input
                    [readonly]="readOnly"
                    type="number"
                    class="form-control form-control-border"
                    formControlName="valore"
                  />
                </td>
                <td [formGroupName]="i">
                  <div class="form-check form-switch">
                    <input
                      *ngIf="!readOnly"
                      class="form-check-input"
                      formControlName="proporzionale"
                      type="checkbox"
                    />
                    <input
                      *ngIf="readOnly"
                      [attr.disabled]="true"
                      class="form-check-input"
                      formControlName="proporzionale"
                      type="checkbox"
                    />
                  </div>
                </td>
                <td>
                  <a
                    *ngIf="!readOnly"
                    title="{{ 'rimuovi indicatore' | translate }}"
                    (click)="removeRangeRow(i)"
                    class="btn btn-free"
                  >
                    <i-bs
                      class="m-0"
                      name="trash"
                      width="1.5rem"
                      height="1.5rem"
                    ></i-bs>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <div class="col-md-12 mb-3 text-end">
            <a
              *ngIf="!readOnly"
              (click)="activeModal.close()"
              type="button"
              class="btn btn-secondary"
              >{{ "annulla" | translate }}</a
            >
            &nbsp;
            <button
              *ngIf="!readOnly"
              (click)="addRangeRow()"
              type="button"
              class="btn btn-primary"
            >
              <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs>
            </button>
            &nbsp;
            <button
              *ngIf="!readOnly"
              [disabled]="creaForm.invalid"
              class="btn btn-primary"
            >
              <i-bs name="save" width="1.5rem" height="1.5rem"></i-bs>

              {{ "salva" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
