<div class="content">
  <div class="breadcrumb"><a [routerLink]="['/home']">{{'home'|translate}}</a><span
      *ngIf="page!=='programmazione' && page!=='consuntivazione'">
      &nbsp;-&nbsp;
      <a class="pointer-link" (click)="vaiAProgrammazione()">{{'programmazione'|translate}}</a></span>
  </div>
  <div class="title">{{getPage()|translate}}</div>

  <scheda-programmazionebar [page]="getPage()" (cambiaScheda)="cambiaScheda($event)"></scheda-programmazionebar>

  <div class="maincnt">

    <div class="p-3"
      *ngIf="!loading && !permissionService.getPermission(currentUser,alberoProgrammazioneService.isConsuntivazione?Permission.DupConsuntivazione:Permission.DupProgrammazione,true)">
      {{"no permesso"|translate}}
    </div>

    <div *ngIf="permissionService.getPermission(currentUser,alberoProgrammazioneService.isConsuntivazione?Permission.DupConsuntivazione:Permission.DupProgrammazione,true)">
      
      <scheda-ricerca [consuntivazione]="alberoProgrammazioneService.isConsuntivazione" 
      [searchData]="alberoProgrammazioneService.getSearchData()"
      (confirmSearch)="confirmSearch($event)"></scheda-ricerca>
   
      <button [disabled]="!showTree || !showData" (click)="nascondiAlbero()" class="btn btn-icon"
        title="{{'nascondi albero'|translate}}">
        <i-bs name="arrow-left-circle" width="1.5rem" height="1.5rem"></i-bs>
      </button>
      <button [disabled]="showTree && showData" (click)="mostraTutto()" class="btn btn-icon"
        title="{{'mostra tutto'|translate}}">
        <i-bs name="arrow-up-circle" width="1.5rem" height="1.5rem"></i-bs>
      </button>
      <button [disabled]="!showData || !showTree" (click)="nascondiData()" class="btn btn-icon"
        title="{{'nascondi dati'|translate}}">
        <i-bs name="arrow-right-circle" width="1.5rem" height="1.5rem"></i-bs>
      </button>

      <span *ngIf="loading">
        <div class="loader">
          <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
          </div>
        </div>
      </span>
    </div>


    <div class="treecnt" *ngIf="permissionService.getPermission(currentUser,alberoProgrammazioneService.isConsuntivazione?Permission.DupConsuntivazione:Permission.DupProgrammazione,true)">
      <div class="d-flex flex-wrap align-items-center justify-content-center">
        <div
          [ngClass]="{'col-12':true, 'col-sm-3':showData, 'col-sm-12':!showData,'treescroll':true, 'hidetree':!showTree}">
          <div class="tree ">
            <scheda-albero 
              #schedaAlbero
              [consuntivazione]="alberoProgrammazioneService.isConsuntivazione"
              [searchData]="alberoProgrammazioneService.getSearchData()"></scheda-albero>
          </div>
        </div>
        <div
          [ngClass]="{'col-12':true, 'col-sm-9':showTree, 'col-sm-12':!showTree, 'treescroll':true, 'treespace': true, 'hidetree':!showData }">
          <ng-container [ngSwitch]="alberoProgrammazioneService.currentScheda">
            <scheda-nodo *ngSwitchCase="'/programmazione/scheda'" (cambiaScheda)="cambiaScheda($event)"
              (ricaricaFigli)="ricaricaFigli($event)" 
              (ricaricaFigliPadre)="ricaricaFigliPadre($event)" 
              [currentProgrammazione]="alberoProgrammazioneService.currentProgrammazione"></scheda-nodo>
            <scheda-indicatori *ngSwitchCase="'/programmazione/indicatori'" (cambiaScheda)="cambiaScheda($event)"
              [currentProgrammazione]="alberoProgrammazioneService.currentProgrammazione"></scheda-indicatori>
            <scheda-risorse *ngSwitchCase="'/programmazione/risorse'" (cambiaScheda)="cambiaScheda($event)"
              [currentProgrammazione]="alberoProgrammazioneService.currentProgrammazione"></scheda-risorse>
            <scheda-pesatura *ngSwitchCase="'/programmazione/pesatura'" (cambiaScheda)="cambiaScheda($event)"
              [currentProgrammazione]="alberoProgrammazioneService.currentProgrammazione"></scheda-pesatura>
            <scheda-consuntivazione *ngSwitchCase="'/consuntivazione/scheda'" (cambiaScheda)="cambiaScheda($event)"
              [currentProgrammazione]="alberoProgrammazioneService.currentProgrammazione"></scheda-consuntivazione>
          </ng-container>

        </div>
      </div>
    </div>
  </div>
</div>