<div class="content">
  <div class="breadcrumb"><a [routerLink]="['/home']">{{'home'|translate}}</a> - <a [routerLink]="['/sistema']">{{'sistema'|translate}}</a> </div>
  <div class="title">{{'indicatori'|translate}}</div>

  <sistemabar [page]="indicatoreId?'indicatori':'creaindicatore'"></sistemabar>

  <div class="p-3" *ngIf="!loading && !permissionService.getPermission(currentUser,Permission.Sistema,false)">
    {{"no permesso"|translate}}
    </div>

  <div class="maincnt" *ngIf="!loading && permissionService.getPermission(currentUser,Permission.Sistema,false)">


    <span *ngIf="loading">
      <div class="loader">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </span>

      <div class="" *ngIf="!loading && creaForm">

            <form [formGroup]="creaForm" (ngSubmit)="onSubmit()">

              <div class="row">
                <div class="col-md-12 mb-3">
                  <div class="box-2-title" *ngIf="indicatoreId; else elseBlock">{{"modifica indicatore"|translate}}</div>
                  <ng-template #elseBlock><div class="box-2-title">{{"crea indicatore"|translate}}</div></ng-template>
                </div>
                <div class="col-md-12 mb-3">
                  <label for="denominazione">{{'denominazione'|translate}} *</label>
                  <input id="denominazione" class="form-control form-control-border" type="text" formControlName="denominazione"
                    placeholder="{{'denominazione'|translate}}" [ngClass]="{ 'is-invalid': f.denominazione.errors }">
                </div>
                <div class="col-md-12 mb-3">
                  <label class="form-control-placeholder-select" for="formula">{{"formula"|translate}}</label>

                  <ng-select
                    id="formula" [items]="formule" [searchable]="false" [clearable]="false" bindLabel="descrizione" bindValue="codice"
                    formControlName="formula" placeholder=" ">
                    <ng-template ng-option-tmp let-item="item">
                      <label>{{item.descrizione}}</label>
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item">
                      <span>{{item.descrizione}}</span>
                    </ng-template>
                  </ng-select>

                </div>
                <div class="col-md-12 mb-3">
                  <label class="form-control-placeholder-select" for="raggruppamento">{{"raggruppamento"|translate}}</label>

                  <ng-select
                    id="raggruppamento" [items]="raggruppamenti" [searchable]="false" [clearable]="false"
                      bindLabel="descrizione" bindValue="codice"
                    formControlName="raggruppamento" placeholder=" ">
                    <ng-template ng-option-tmp let-item="item">
                      <label>{{item.descrizione}}</label>
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item">
                      <span>{{item.descrizione}}</span>
                    </ng-template>
                  </ng-select>

                </div>

                <div class="col-md-12 mb-3">
                  <label for="descrizione">{{'descrizione'|translate}}</label>
                  <textarea id="descrizione" formControlName="descrizione" class="form-control" [ngClass]="{
                    'is-invalid':
                      f.descrizione.errors}" type="text" placeholder=" ">
                </textarea>

                </div>

                <div class="col-md-12 mb-3" *ngIf="f.formula.value=='TIPO_FORMULA_NUMERO' || f.formula.value=='TIPO_FORMULA_RAPPORTO'">
                  <label for="decimali">{{'decimali'|translate}}</label>
                  <input id="decimali" class="form-control form-control-border" type="number" formControlName="decimali"
                    placeholder="{{'decimali'|translate}}" [ngClass]="{ 'is-invalid': f.decimali.errors }">
                </div>

                <div class="col-md-12 mb-3" *ngIf="f.formula.value=='TIPO_FORMULA_RAPPORTO'">
                  <label for="decimaliA">{{'decimaliA'|translate}}</label>
                  <input id="decimaliA" class="form-control form-control-border" type="number" formControlName="decimaliA"
                    placeholder="{{'decimaliA'|translate}}" [ngClass]="{ 'is-invalid': f.decimaliA.errors }">
                </div>

                <div class="col-md-12 mb-3" *ngIf="f.formula.value=='TIPO_FORMULA_RAPPORTO'">
                  <label for="decimaliB">{{'decimaliB'|translate}}</label>
                  <input id="decimaliB" class="form-control form-control-border" type="number" formControlName="decimaliB"
                    placeholder="{{'decimaliB'|translate}}" [ngClass]="{ 'is-invalid': f.decimaliB.errors }">
                </div>

                <div class="col-md-12 mb-3" *ngIf="f.formula.value=='TIPO_FORMULA_RAPPORTO'">
                  <label for="nomeValoreA">{{'nomeValoreA'|translate}}</label>
                  <input id="nomeValoreA" class="form-control form-control-border" type="text" formControlName="nomeValoreA"
                    placeholder="{{'nomeValoreA'|translate}}" [ngClass]="{ 'is-invalid': f.nomeValoreA.errors }">
                </div>

                <div class="col-md-12 mb-3" *ngIf="f.formula.value=='TIPO_FORMULA_RAPPORTO'">
                  <label for="nomeValoreB">{{'nomeValoreA'|translate}}</label>
                  <input id="nomeValoreB" class="form-control form-control-border" type="text" formControlName="nomeValoreB"
                    placeholder="{{'nomeValoreB'|translate}}" [ngClass]="{ 'is-invalid': f.nomeValoreB.errors }">
                </div>

                <div class="col-md-12 mb-3" *ngIf="f.formula.value=='TIPO_FORMULA_RAPPORTO'">
                  <label class="custom-control-label" for="percentuale">{{'percentuale'|translate}}</label>
                  <div class="form-check form-switch">
                  <input id="percentuale" class="form-check-input" formControlName="percentuale" type="checkbox">
                </div>


                </div>

                <div class="col-md-12 mb-3">
                  <label class="form-control-placeholder-select" for="calcoloConsuntivazione">{{"calcolo consuntivazione"|translate}}</label>

                  <ng-select
                    id="calcoloConsuntivazione" [items]="calcoliConsuntivazione" [searchable]="false"
                      [clearable]="false" bindLabel="descrizione" bindValue="codice"
                    formControlName="calcoloConsuntivazione" placeholder=" ">
                    <ng-template ng-option-tmp let-item="item">
                      <label>{{item.descrizione}}</label>
                    </ng-template>
                    <ng-template ng-label-tmp let-item="item">
                      <span>{{item.descrizione}}</span>
                    </ng-template>
                  </ng-select>

                </div>



                <div class="col-md-12 mb-3 text-right">
                  
                  <a [routerLink]="['/sistema/indicatori']" type="button" class="btn btn-secondary">{{'annulla'|translate}}</a>
                  <button [disabled]="creaForm.invalid" class="btn btn-primary spaceleft10">{{'salva'|translate}}</button>
                </div>


              </div>
            </form>
      </div>



  </div>
</div>
<!--content-->
