<div class="content">
  <div class="breadcrumb">
    <a [routerLink]="['/home']">{{ "home" | translate }}</a> -

    <a [routerLink]="['/struttura']">{{ "struttura" | translate }}</a>
  </div>
  <div class="title">{{ "risorse" | translate }}</div>

  <strutturabar [page]="risorsaId ? 'risorse' : 'crearisorse'"></strutturabar>

  <div class="maincnt">
    <span *ngIf="loading">
      <div class="loader">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </span>

    <div
      class="p-3"
      *ngIf="
        !loading &&
        !permissionService.getPermission(
          currentUser,
          Permission.RisorseStruttura,
          false
        )
      "
    >
      {{ "no permesso" | translate }}
    </div>

    <div
      *ngIf="
        !loading &&
        permissionService.getPermission(
          currentUser,
          Permission.RisorseStruttura,
          false
        )
      "
    >
      <div class="" *ngIf="creaForm">
        <form [formGroup]="creaForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col-md-12 mb-3">
              <div class="box-2-title" *ngIf="risorsaId; else elseBlock">
                {{ "modifica risorsa" | translate }}
              </div>
              <ng-template #elseBlock
                ><div class="box-2-title">
                  {{ "crea risorsa" | translate }}
                </div></ng-template
              >
            </div>

             <div class="col-md-12 mb-3">
                  <label class="custom-control-label" for="interno">{{'interno'|translate}}</label>
                  <div class="form-check form-switch">
                    <input id="interno" class="form-check-input" formControlName="interno" type="checkbox"
                    (change)="onChangeInterno($event)">
                  </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="nome">{{ "nome" | translate }} *</label>
              <input
                id="nome"
                type="text"
                class="form-control form-control-border"
                formControlName="nome"
                (input)="f.nome.setValue(f.nome.value.toUpperCase())"
                placeholder="{{ 'nome' | translate }}"
                [ngClass]="{ 'is-invalid': f.nome.errors }"
              />
            </div>

            <div class="col-md-6 mb-3">
              <label for="cognome">{{ "cognome" | translate }} *</label>
              <input
                id="cognome"
                type="text"
                class="form-control form-control-border"
                formControlName="cognome"
                (input)="f.cognome.setValue(f.cognome.value.toUpperCase())"
                placeholder="{{ 'cognome' | translate }}"
                [ngClass]="{ 'is-invalid': f.cognome.errors }"
              />
            </div>

            <div class="col-md-6 mb-3">
              <label for="codiceFiscale">{{
                "codice fiscale" | translate
              }}</label>
              <input
                id="codiceFiscale"
                type="text"
                class="form-control form-control-border"
                formControlName="codiceFiscale"
                (input)="
                  f.codiceFiscale.setValue(f.codiceFiscale.value.toUpperCase())
                "
                placeholder="{{ 'codice fiscale' | translate }}"
                [ngClass]="{ 'is-invalid': f.codiceFiscale.errors }"
              />
            </div>

            <div class="col-md-6 mb-3">
              <label for="email">{{ "email" | translate }}</label>
              <input
                id="email"
                type="email"
                class="form-control form-control-border"
                formControlName="email"
                placeholder="{{ 'email' | translate }}"
                [ngClass]="{ 'is-invalid': f.email.errors }"
              />
            </div>

  
            <div class="col-md-6 mb-3">
              <label
                class="form-control-placeholder-select"
                for="inizioValidita"
                >{{ "inizio" | translate }} *</label
              >
              <div class="input-group">
                <input
                  id="inizioValidita"
                  class="datepicker form-control"
                  placeholder=""
                  name="inizioValidita"
                  formControlName="inizioValidita"
                  type="date"
                />
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-control-placeholder-select" for="fineValidita"
                >{{ "fine" | translate }} *</label
              >
              <div class="input-group">
                <input
                  id="fineValidita"
                  class="datepicker form-control"
                  placeholder=""
                  name="fineValidita"
                  formControlName="fineValidita"
                  type="date"
                />
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="codiceInterno">{{ "codice interno" | translate }}</label>
              <input
                id="codiceInterno"
                type="text"
                class="form-control form-control-border"
                formControlName="codiceInterno"
                placeholder="{{ 'codice interno' | translate }}"
                [ngClass]="{ 'is-invalid': f.codiceInterno.errors }"
              />
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-control-placeholder-select" for="categoria"
                >{{ "categoria" | translate }}</label
              >
              <ng-select
                id="categoria"
                [readonly]="interno===false"
                [multiple]="false"
                [items]="categorie"
                [searchable]="false"
                [clearable]="false"
                bindLabel="descrizione"
                bindValue="id"
                formControlName="categoria"
                placeholder=" "
              >
                <ng-template ng-option-tmp let-item="item">
                  <label>{{ item.descrizione }}</label>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                  <span>{{ item.descrizione }}</span>
                </ng-template>
              </ng-select>
            </div>

            <div class="col-md-6 mb-3">
              <label class="form-control-placeholder-select" for="profilo"
                >{{ "profilo" | translate }}</label
              >
              <ng-select
                id="profilo"
                [readonly]="interno===false"
                [multiple]="false"
                [items]="profili"
                [searchable]="false"
                [clearable]="false"
                bindLabel="descrizione"
                bindValue="id"
                formControlName="profilo"
                placeholder=" "
              >
                <ng-template ng-option-tmp let-item="item">
                  <label>{{ item.descrizione }}</label>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                  <span>{{ item.descrizione }}</span>
                </ng-template>
              </ng-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-control-placeholder-select" for="incarico"
                >{{ "incarico" | translate }}</label
              >
              <ng-select
                id="incarico"
                [multiple]="false"
                [readonly]="interno===false"
                [items]="incarichi"
                [searchable]="false"
                [clearable]="false"
                bindLabel="descrizione"
                bindValue="id"
                formControlName="incarico"
                placeholder=" "
              >
                <ng-template ng-option-tmp let-item="item">
                  <label>{{ item.descrizione }}</label>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                  <span>{{ item.descrizione }}</span>
                </ng-template>
              </ng-select>
            </div>
            <div class="col-md-6 mb-3">
              <label class="form-control-placeholder-select" for="contratto"
                >{{ "contratto" | translate }}</label
              >
              <ng-select
                id="contratto"
                [multiple]="false"
                [readonly]="interno!==false"
                [items]="contratti"
                [searchable]="false"
                [clearable]="false"
                bindLabel="descrizione"
                bindValue="id"
                formControlName="contratto"
                placeholder=" "
              >
                <ng-template ng-option-tmp let-item="item">
                  <label>{{ item.descrizione }}</label>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                  <span>{{ item.descrizione }}</span>
                </ng-template>
              </ng-select>
            </div>
            <div class="col-md-12 mb-3 text-right">
              <a
                [routerLink]="['/struttura/risorse']"
                type="button"
                class="btn btn-secondary"
                >{{ "annulla" | translate }}</a
              >
              <button
                [disabled]="creaForm.invalid"
                class="btn btn-primary spaceleft10"
              >
                {{ "salva" | translate }}
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!--content-->
