<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    <span *ngIf="id !== undefined">{{
      "modifica " + tipoNodo | translate
    }}</span>
    <span *ngIf="id === undefined">{{
      "aggiungi " + tipoNodo | translate
    }}</span>
  </h5>
  <button
    type="button"
    class="close"
    (click)="activeModal.close()"
    aria-label="Close"
  >
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <span class="loading" *ngIf="loading">
    <div class="spinner-border" role="stus">
      <span class="sr-only"></span>
    </div>
  </span>

  <div class="" *ngIf="!loading && creaForm">
    <form [formGroup]="creaForm" (ngSubmit)="onSubmit()">
      <div class="row">
       
         
            <div class="col-md-12 mb-3">
              <label for="codice">{{ "codice" | translate }} *</label>
              {{ codiceRidottoPadre }}
              <input
                id="codice"
                type="text"
                class="form-control form-control-border"
                formControlName="codice"
                placeholder="{{ 'codice' | translate }}"
                [ngClass]="{ 'is-invalid': f.codice.errors }"
              />
            </div>

            <div class="col-md-12 mb-3"></div>

            <div
              class="col-md-12 mb-3"
              *ngIf="visualizzaField('denominazione')"
            >
              <label for="denominazione"
                >{{ "denominazione" | translate }} *</label
              >
              <textarea
                id="denominazione"
                class="form-control form-control-border"
                type="text"
                formControlName="denominazione"
                placeholder="{{ 'denominazione' | translate }}"
                maxlength="700"
                [ngClass]="{ 'is-invalid': f.denominazione.errors }"
              ></textarea>
            </div>

            <div class="col-md-12 mb-3" *ngIf="visualizzaField('descrizione')">
              <label for="descrizione">{{ "descrizione" | translate }}</label>
              <textarea
                id="descrizione"
                class="form-control form-control-border"
                type="text"
                formControlName="descrizione"
                placeholder="{{ 'descrizione' | translate }}"
                maxlength="5000"
                [ngClass]="{ 'is-invalid': f.descrizione.errors }"
              ></textarea>
            </div>

            <div class="col col-12 col-md-6 mb-3">
              <label class="form-control-placeholder-select" for="inizio"
                >{{ "inizio" | translate }} *</label
              >
              <div class="input-group">
                <input
                  id="inizio"
                  class="datepicker form-control"
                  placeholder=""
                  name="inizio"
                  formControlName="inizio"
                  type="date"
                />
              </div>
            </div>

            <div class="col col-12 col-md-6 mb-3" *ngIf="visualizzaField('scadenza') && isAdmin()">
              <label class="form-control-placeholder-select" for="scadenza"
                >{{ "scadenza" | translate }}</label
              >
              <div class="input-group">
                <input
                  id="scadenza"
                  class="datepicker form-control"
                  placeholder=""
                  name="scadenza"
                  formControlName="scadenza"
                  type="date"
                />
              </div>
            </div>

            <div
              class="col-md-12 mb-3"
              *ngIf="visualizzaField('organizzazione')"
            >
              <label
                class="form-control-placeholder-select"
                for="organizzazione"
                >{{ "unita organizzativa principale" | translate }} *</label
              >
              <ng-select
                [ngClass]="{ 'is-invalid': !f.organizzazione.value }"
                id="organizzazione"
                [multiple]="false"
                [items]="organizzazioni"
                [searchable]="false"
                [clearable]="false"
                bindLabel="denominazione"
                bindValue="id"
                formControlName="organizzazione"
                placeholder=" "
              >
                <ng-template ng-option-tmp let-item="item">
                  <label>{{ item.denominazione }}</label>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                  <span>{{ item.denominazione }}</span>
                </ng-template>
              </ng-select>
            </div>

            <div
              class="col-md-12 mb-3"
              *ngIf="
                visualizzaField('organizzazioni') &&
                (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                  currentUser?.operator?.ruolo === 'AMMINISTRATORE')
              "
            >
              <label
                class="form-control-placeholder-select"
                for="organizzazioni"
                >{{ "unita organizzative coinvolte" | translate }}</label
              >
              <ng-select
                id="organizzazioni"
                [multiple]="true"
                [items]="organizzazioni"
                [searchable]="false"
                [clearable]="false"
                bindLabel="denominazione"
                bindValue="id"
                formControlName="organizzazioni"
                placeholder=" "
              >
                <ng-template ng-option-tmp let-item="item">
                  <label>{{ item.denominazione }}</label>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                  <span>{{ item.denominazione }}</span>
                </ng-template>
              </ng-select>
            </div>
            <div class="col-md-12 mb-3" *ngIf="visualizzaField('pnrr')">
              <label> {{ "Pnrr" | translate }}</label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  id="flagPnrr"
                  type="checkbox"
                  role="switch"
                  formControlName="flagPnrr"
                  [ngClass]="{ 'is-invalid': f.flagPnrr.errors }"
                />
              </div>
            </div>
            <div class="col-md-12 mb-3" *ngIf="visualizzaField('note')">
              <label for="note">{{ "note" | translate }}</label>
              <textarea
                id="note"
                class="form-control form-control-border"
                type="text"
                formControlName="note"
                placeholder="{{ 'note' | translate }}"
                maxlength="5000"
                [ngClass]="{ 'is-invalid': f.note.errors }"
              ></textarea>
            </div>
          
       

        <div class="col-md-6 mb-3">
          <div class="row">
            <div
              class="col-md-3 mb-3"
              *ngIf="visualizzaField('bloccato') && isAdmin()"
            >
              <label for="bloccato">{{ "bloccato" | translate }} </label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  id="bloccato"
                  type="checkbox"
                  role="switch"
                  formControlName="bloccato"
                  [ngClass]="{ 'is-invalid': f.bloccato.errors }"
                />
              </div>
            </div>
            <div class="col-md-3 mb-3" *ngIf="visualizzaField('tipologia')">
              <label for="obiettivoImpatto"
                >{{ "obiettivo impatto" | translate }}
              </label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  id="obiettivoImpatto"
                  type="checkbox"
                  role="switch"
                  formControlName="obiettivoImpatto"
                  [ngClass]="{ 'is-invalid': f.obiettivoImpatto.errors }"
                />
              </div>
            </div>
          </div>
          <div class="col-md-12 mb-3" *ngIf="visualizzaField('tipo')">
            <label class="form-control-placeholder-select" for="tipo"
              >{{ "tipo" | translate }} *</label
            >
            <ng-select
              id="tipo"
              [multiple]="false"
              [items]="listaTipo"
              [searchable]="false"
              [clearable]="false"
              bindLabel="descrizione"
              bindValue="codice"
              formControlName="tipo"
              placeholder=" "
            >
              <ng-template ng-option-tmp let-item="item">
                <label>{{ item.descrizione }}</label>
              </ng-template>
              <ng-template ng-label-tmp let-item="item">
                <span>{{ item.descrizione }}</span>
              </ng-template>
            </ng-select>
          </div>
          <div
            class="col-md-12 mb-3"
            *ngIf="
              visualizzaField('flagOIV') &&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE')
            "
          >
            <label for="flagOIV">{{ "flag OIV" | translate }} </label>
            <div class="form-check form-switch">
              <input
                class="form-check-input"
                id="flagOIV"
                type="checkbox"
                role="switch"
                formControlName="flagOIV"
                [ngClass]="{ 'is-invalid': f.flagOIV.errors }"
              />
            </div>
          </div> 
          <div class="col-md-12 mb-3" *ngIf="visualizzaField('noteOIV')&&
              (currentUser?.operator?.ruolo === 'SUPPORTO_SISTEMA' ||
                currentUser?.operator?.ruolo === 'AMMINISTRATORE')">
              <label for="noteOIV">{{ "note OIV" | translate }}</label>
              <textarea
                id="noteOIV"
                class="form-control form-control-border"
                type="text"
                formControlName="noteOIV"
                placeholder="{{ 'noteOIV' | translate }}"
                maxlength="5000"
                [ngClass]="{ 'is-invalid': f.noteOIV.errors }"
              ></textarea>
          </div>

          <!-- <div
            class="col-md-12 mb-3"
            *ngIf="visualizzaField('modalita')"
          >
            <label
              class="form-control-placeholder-select"
              for="modalitaAttuative"
              >{{ "modalita attuative" | translate }} *</label
            >
            <ng-select
              id="modalitaAttuative"
              [multiple]="false"
              [items]="listaModalitaAttuative"
              [searchable]="false"
              [clearable]="false"
              bindLabel="descrizione"
              bindValue="codice"
              formControlName="modalitaAttuative"
              placeholder=" "
            >
              <ng-template ng-option-tmp let-item="item">
                <label>{{ item.descrizione }}</label>
              </ng-template>
              <ng-template ng-label-tmp let-item="item">
                <span>{{ item.descrizione }}</span>
              </ng-template>
            </ng-select>
          </div> -->

          <!-- <div class="col-md-12 mb-3" *ngIf="visualizzaField('tipologia')">
            <label class="form-control-placeholder-select" for="tipologia"
              >{{ "tipologia" | translate }} *</label
            >
            <ng-select
              id="tipologia"
              [multiple]="false"
              [items]="listaTipologia"
              [searchable]="false"
              [clearable]="false"
              bindLabel="descrizione"
              bindValue="codice"
              formControlName="tipologia"
              placeholder=" "
            >
              <ng-template ng-option-tmp let-item="item">
                <label>{{ item.descrizione }}</label>
              </ng-template>
              <ng-template ng-label-tmp let-item="item">
                <span>{{ item.descrizione }}</span>
              </ng-template>
            </ng-select>
          </div> -->

          <div
            class="col-md-12 mb-3 mt-3 form-check form-switch"
            *ngIf="visualizzaField('strategico') && enabledStrategico"
          >
            <input
              id="strategico"
              type="checkbox"
              data-toggle="toggle"
              class="form-check-input"
              style="margin-left: -17px"
              formControlName="strategico"
              [ngClass]="{ 'is-invalid': f.strategico.errors }"
            />
            &nbsp;&nbsp;
            <label
              for="strategico"
              class="form-check-label"
              style="padding-top: 5px"
              >{{ "strategico" | translate }}</label
            >
          </div>

          <div
            class="col-md-12 mb-3"
            *ngIf="visualizzaField('descrizioneIntroduttivaMissione')"
          >
            <label for="descrizioneIntroduttivaMissione">{{
              "descrizione introduttiva" | translate
            }}</label>
            <textarea
              id="descrizioneIntroduttivaMissione"
              class="form-control form-control-border"
              type="text"
              formControlName="descrizioneIntroduttivaMissione"
              placeholder="{{ 'descrizione introduttiva' | translate }}"
              maxlength="4000"
            ></textarea>
          </div>
          <br />
          <div class="row" *ngIf="visualizzaField('valorePubblico')">
            <span class="col-12 text-primary font-weight-bold pe-auto">
              <a
                (click)="
                  toggleValorePubblico = !toggleValorePubblico;
                  toggleBsc = !toggleValorePubblico
                "
                ><u>{{ "Valore Pubblico" | translate }}</u></a
              >
            </span>
          </div>
          <div
            class="row"
            *ngIf="visualizzaField('valorePubblico') && toggleValorePubblico"
          >
            <div class="col-md-6 mb-3">
              <label for="focusSemplificazione"
                >{{ "Semplificazione" | translate }}
              </label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  id="focusSemplificazione"
                  type="checkbox"
                  role="switch"
                  formControlName="focusSemplificazione"
                  [ngClass]="{ 'is-invalid': f.focusSemplificazione.errors }"
                />
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="focusDigitalizzazione">{{
                "Digitalizzazione" | translate
              }}</label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  id="focusDigitalizzazione"
                  type="checkbox"
                  role="switch"
                  formControlName="focusDigitalizzazione"
                  [ngClass]="{ 'is-invalid': f.focusDigitalizzazione.errors }"
                />
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="focusAccessibilita">{{
                "Accessibilita" | translate
              }}</label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  id="focusAccessibilita"
                  type="checkbox"
                  role="switch"
                  formControlName="focusAccessibilita"
                  [ngClass]="{ 'is-invalid': f.focusAccessibilita.errors }"
                />
              </div>
            </div>

            <div class="col-md-6 mb-3">
              <label for="focusPariOpportunita">{{
                "PariOpportunita" | translate
              }}</label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  id="focusPariOpportunita"
                  type="checkbox"
                  role="switch"
                  formControlName="focusPariOpportunita"
                  [ngClass]="{ 'is-invalid': f.focusPariOpportunita.errors }"
                />
              </div>
            </div>
            <div class="col-md-6 mb-3">
              <label for="focusRisparmioEnergetico">{{
                "Risparmio Energetico" | translate
              }}</label>
              <div class="form-check form-switch">
                <input
                  class="form-check-input"
                  id="focusRisparmioEnergetico"
                  type="checkbox"
                  role="switch"
                  formControlName="focusRisparmioEnergetico"
                  [ngClass]="{
                    'is-invalid': f.focusRisparmioEnergetico.errors
                  }"
                />
              </div>
            </div>
            <div class="col-md-6 mb-3"></div>
            <div class="col-md-12 mb-6">
              <label for="politica">{{ "Politica" | translate }}</label>

              <input
                id="politica"
                type="text"
                role="switch"
                class="form-control form-control-border"
                formControlName="politica"
                [ngClass]="{ 'is-invalid': f.politica.errors }"
              />
            </div>

            <div class="col-md-12 mb-6">
            <label for="dimensione">{{ "dimensione" | translate }}</label>
            <ng-select
              [ngClass]="{ 'is-invalid': !f.dimensione.value }"
              id="dimensione"
              [multiple]="false"
              [items]="dimensioni"
              [searchable]="false"
              [clearable]="true"
              formControlName="dimensione"
            >
            </ng-select>
          </div>

            <div class="col-md-12 mb-6">
              <label for="contributors">{{ "Contributors" | translate }}</label>
              <input
                id="contributors"
                type="text"
                class="form-control form-control-border"
                formControlName="contributors"
                [ngClass]="{ 'is-invalid': f.contributors.errors }"
              />
            </div>

            <div class="col-md-12 mb-6">
              <label for="stakeholders">{{ "Stakeholders" | translate }}</label>
              <input
                id="stakeholders"
                type="text"
                class="form-control form-control-border"
                formControlName="stakeholders"
                [ngClass]="{ 'is-invalid': f.stakeholders.errors }"
              />
            </div>
          </div>
          <br />
          <div class="row" *ngIf="visualizzaField('bsc')">
            <span class="col-12 text-primary font-weight-bold">
              <a
                (click)="
                  toggleBsc = !toggleBsc; toggleValorePubblico = !toggleBsc
                "
                ><u>{{ "Balanced Scorecard" | translate }}</u></a
              >
            </span>
          </div>
          <div class="row" *ngIf="visualizzaField('bsc') && toggleBsc">
            <div class="col-md-12 mb-6">
            <label for="prospettiva">{{ "prospettiva" | translate }}</label>
            <ng-select
              [ngClass]="{ 'is-invalid': !f.prospettiva.value }"
              id="prospettiva"
              [multiple]="false"
              [items]="listaProspettive"
              [searchable]="false"
              [clearable]="true"
              formControlName="prospettiva"
            >
            </ng-select>
          </div>
            <div class="col-md-12 mb-6">
              <label for="innovazione">{{ "Innovazione" | translate }}</label>
              <input
                id="innovazione"
                type="text"
                class="form-control form-control-border"
                formControlName="innovazione"
                [ngClass]="{ 'is-invalid': f.innovazione.errors }"
              />
            </div>
            <div class="col-md-12 mb-6">
              <label for="annualita">{{ "Annualita" | translate }}</label>
              <input
                id="annualita"
                type="text"
                class="form-control form-control-border"
                formControlName="annualita"
                [ngClass]="{ 'is-invalid': f.annualita.errors }"
              />
            </div>
          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-md-12 mb-3 text-right">
            <a
              (click)="activeModal.close()"
              type="button"
              class="btn btn-secondary"
              >{{ "annulla" | translate }}</a
            >
            <button
              [disabled]="creaForm.invalid"
              class="btn btn-primary spaceleft10"
            >
              {{ "salva" | translate }}
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
