<div class="" *ngIf="cercaForm">
        <div class="d-flex flex-wrap align-items-center justify-content-center">
        </div>
        <form [formGroup]="cercaForm" (ngSubmit)="onSubmit()">
          <div class="row align-items-center">
              <div class="col-lg-2 col-md-3 col-sm-4 mb-3 p-3">
                <label class="form-control-placeholder-select" for="testo">{{"descrizione"|translate}}</label>
                <input type="text" class="form-control" formControlName="testo"
                  placeholder="{{'descrizione'|translate}}">
              </div>

               <div class="col-lg col-md-3 col-sm-4 mb-3 p-3">
                <label class="form-control-placeholder-select" for="codice">{{"codice"|translate}}</label>
                <input type="text" class="form-control" formControlName="codice"
                  maxlength="30"
                  placeholder="{{'codice'|translate}}">
              </div>

              <div class="col-lg-2 col-md-3 col-sm-4 mb-3 p-3">
                <label class="form-control-placeholder-select" for="idDirezione">{{"dipartimento"|translate}}</label>

                <ng-select id="direzioni" [multiple]="false" [items]="direzioni"
                  [searchable]="false" [clearable]="true" bindLabel="denominazione" bindValue="id"
                  formControlName="idDirezione" placeholder="">
                  <ng-template ng-option-tmp let-item="item">
                    <label>{{item.denominazione}}</label>
                  </ng-template>
                  <ng-template ng-label-tmp let-item="item">
                    <span>{{item.denominazione}}</span>
                  </ng-template>
                </ng-select>
              </div>
              
              <div class="col-lg-2 col-md-3 col-sm-4 mb-3 p-3">
                <label class="form-control-placeholder-select" for="idResponsabile">{{"responsabile"|translate}}</label>

                <ng-autocomplete style="width:100%" class="form-control" formControlName="idResponsabile"
                  [data]="responsabili" [isLoading]="isLoadingResponsabili" placeholder="Responsabile"
                  [searchKeyword]="keyword" (inputChanged)='onChangeSearchResponsabile($event)'
                  [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.description"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div> 

              <div class="col-lg-2 col-md-3 col-sm-4 mb-3 p-3">
                <label class="form-control-placeholder-select" for="idRisorsa">{{"risorsa"|translate}}</label>

                <ng-autocomplete style="width:100%" class="form-control" formControlName="idRisorsa"
                  [data]="risorse" [isLoading]="isLoadingRisorse" placeholder="Risorsa associata"
                  [searchKeyword]="keyword" (inputChanged)='onChangeSearchRisorsa($event)'
                  [itemTemplate]="itemTemplate" [notFoundTemplate]="notFoundTemplate">
                </ng-autocomplete>

                <ng-template #itemTemplate let-item>
                  <a [innerHTML]="item.description"></a>
                </ng-template>

                <ng-template #notFoundTemplate let-notFound>
                  <div [innerHTML]="notFound"></div>
                </ng-template>
              </div>

              <div class="col-md-1 mb-2">
                <button class="btn btn-primary btn-search" type="submit">
                  <i-bs name="search" width="1.5rem" height="1.5rem"></i-bs>
                </button>

              </div>
            </div>
        </form>
      </div>
