<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    <span>{{'invio'|translate}}</span>
  </h5>
  <button type="button" class="close" (click)="activeModal.close()" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">

  <span class="loading" *ngIf="loading">
    <div class="spinner-border" role="status">
      <span class="sr-only"></span>
    </div>
  </span>

  <div class="" *ngIf="!loading && creaForm">

    <form [formGroup]="creaForm" (ngSubmit)="onSubmit()">

        <div class="row">
        <div class="col-md-12 mb-2">
          <label>{{azione|translate}}</label>
        </div>

        <div class="col-md-12 mb-3">
          <label for="note">{{'note'|translate}}</label>
          <textarea id="note" class="form-control form-control-border" type="text" formControlName="note"
            placeholder="{{'note'|translate}}"></textarea>
        </div>


        <div class="col-md-12 mb-3">
         <a (click)="activeModal.close()" type="button" class="btn btn-secondary">{{'annulla'|translate}}</a>
         <button [disabled]="!idRegistrazione && !fase" class="btn btn-primary">{{'salva e invia'|translate}}</button>&nbsp;
        </div>

      </div>
    </form>
  </div>




</div>
