/* You can add global styles to this file, and also import other style files */
/* @import url('https://fonts.googleapis.com/css2?family=Assistant:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300;400;600&display=swap'); */
@import "~@ng-select/ng-select/themes/default.theme.css";
@import "flexmonster/flexmonster.min.css";

@font-face {
    font-family: 'Titilliumweb';
    src: url(/assets/Titillium_Web/TitilliumWeb-Regular.ttf);
}

* {
    font-family: 'Titilliumweb';
}


body{
    background-color: #E6E9F2;
    font-family: 'Titillium Web', sans-serif;
    /*font-family: 'Assistant', sans-serif;*/
    color: #3D3D3D;
    font-size: 12px;
}
th, td {
    font-weight: normal;
    font-size: 14px;;
}
.toggleSort {
  cursor:pointer;
}
.spaceleft10 {
    margin-left: 10px !important;
}
a {
    text-decoration:none;
}

.text-right {
    text-align: right !important;
}
.sidebar {
    background: #fff;
    width: 80px;
    height: 100vh;
    position: fixed;
    z-index: 6;
}

.sidebar ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.sidebar img {
    display: block;
    margin: 0 auto;
    height: 28px;
}

.sidebar span {
    color: #9B9B9B;
    font-family: 'Titillium Web', sans-serif;
    /* font-family: Assistant; */
    font-size: 9px;
    text-align: center;
    display: block;
    margin-top: 4px;
}

.sidebar a {
    padding: 10px 0;
    display: block;
}

.sidebar a.active {
    background-color: #297A38;
}

.sidebar a.active span {
    color: #fff;
}

.sidebar a.active img {
    filter: invert(1);
}

.header {
    position: fixed;
    width: 100%;
    background: #fff;
    padding: 10px 15px;
    padding-left: 90px;
    z-index: 5;
    height: 64px;
}

.header-user-icon {
    display: inline-block;
}

.header-user-name {
    font-size: 14px;
    font-weight: bold;
}
.header-title {
    font-size: 28px;
    font-weight: bold;
    line-height: 1;
}
.logo-content {
    position: absolute;
    top: 9px;
    left: 90px;
}
.header-logo {
    display: block;
    height:46px;
    padding: 5px;
}
.logo-performplus {
    height: 28px;
    margin: 0 auto;
}
.logo-performplus img {
    margin-top: 8px;
    height: 100%;
}
.appname-content {
    position: absolute;
    top: 19px;
    left: 250px;
}
.header-subtitle {
    font-size: .8rem;
    line-height: 1.1;
}
.account-content {
    position: fixed;
    right: 10px;
    margin-right: 0;
    margin-left: auto;
}
.content{
    padding-left:100px;
    padding-top:100px;
    padding-right:20px;
}
.content.login-page {
    padding-left: 0 !important;
    padding-top: 100px;
    padding-right: 0 !important;
}
.title{
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}
.breadcrumb {
    margin-bottom: 0;
}
.box {
    border: 1px solid #E9E9E9;
    background-color: #FFFFFF;
    padding: 20px;
    display: block;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.box-title {
    color: #3D3D3D;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 50px;
}
.box-text {
    margin: 0 15px;
}
.box-image img{
    height: 50px;
}
.box-link {
    display: flex;
    flex: 1;
    align-items: flex-end;
    height: 30px;
}
.maincnt {
    background: #FFFFFF;
    padding: 25px;
    clear: both;
}

.custom-tab-cnt{
    clear: both;
}
.custom-tab-cnt:after{
    content:"";
    clear: both;
    width: 100%;
    display: block;
}
.custom-tab {
    font-size: 14px;
    padding: 5px 25px 5px 0px;
    border-bottom: 3px solid #ccc;
    float: left;
}
.custom-tab.active {
    border-color: #297A38;
}

.btn.btn-primary {
    background: #297A38;
    border: 2px solid #297A38;
    border-color: #297A38;
}
.btn:hover {
    background-image: linear-gradient(rgba(0,0,0,.2),rgba(0,0,0,.2));
}
.btn-secondary,
.btn-secondary:hover{
    border: 2px solid #297A38;
    background: #FFFFFF;
    color: #297A38;
    border-color: #297A38;
    -webkit-appearance: none !important;
    font-weight: 600;
}
.btn img {
    margin-right: 10px;
    height: 20px;
}
.btn i-bs svg{
    height: 15px;
}
.btn-search {
    margin-top: 8px;
}

button#dropdownMenuButton1 img {
    height: 30px;
}
select {
    background-image: url(assets/img/down.png);
    background-position: 95% center;
    background-repeat: no-repeat;
    background-size: 12px;
    padding-right: 25px !important;
}
body .swal2-styled.swal2-confirm {
    background: #297A38;
    border: 1px solid #297A38;
}
body .swal2-styled.swal2-deny {
    border: 1px solid #297A38;
    background: #fff;
    color: #297A38;
}


.box-2 {
    border-top: 2px solid #297A38;
    background: #fff;
    padding: 25px;
}

.subtitle {
    color: #297A38;
    font-size: 25px;
    font-weight: bold;
    margin: 20px 0;
}

.box-2-title {
    font-size: 18px;
    float: left;
}


span.box-2-title-value {
    color: #297A38;
    font-size: 41px;
    font-weight: bold;
    float: left;
    margin-top: -18px;
    margin-left: 15px;
}
.table-unset {
    overflow: unset !important;
}
.table-big{
    font-size: 14px;
}
.form-check-input:checked {
    background-color: #297A38;
    border-color: #297A38;
}
.form-switch .form-check-input {
    height: 25px;
    width: 54px;
}

.box-3{
    border-left: 2px solid #297A38;
    background: #fff;
    padding: 25px;
    margin-bottom: 25px;
}
.box-3-title{
    color:#297A38;
    font-size: 25px;
}
.box-3-text{
    font-size:18px;
}
.box-3-subtitle{
    font-size:18px;
}
.box-3-subtitle img {
    float: right;
}
.box-3-value {
    font-size: 70px;
    color: #297A38;
    font-weight: bold;
    line-height: 1;
    position: relative;
}
.box-3-value img {
    margin-top: 35px;
    position: absolute;
    right: 0;
}
.dropdown-menu-shown {
  display:block;
}

a {
  color: black;
}
a:hover {
  color: #297A38;
}
.page-link {
  color: black;
  background-color: white;
  cursor: pointer;
  font-size: 12px;
}
.page-link.active {
  color: #297A38;
  background-color: white;
  font-size: 12px;
  border-color: #dee2e6;
}
ng-select.ng-invalid .ng-select-container{
  border: 1px solid #297A38;
}
.dropdown-item.selected {
  color: #dc3545;
}
.dropdown-item.active, .dropdown-item:active {
  background-color: #297A38;
  cursor: pointer;
}

button.btn.btn-outline-secondary.calendar {
    border-radius: 0;
    border-color: #ced4da;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.btn-light.bg-primary.text-white {
    background-color: #297A38 !important;
}
.btn:hover {
    background-image: none;
}
button.btn.btn-icon,
button.btn.btn-icon:hover,
button.btn.btn-icon:disabled{
    border-color: transparent;
}


.btn-link, .btn-link:hover {
    color: #297A38;
}
button.btn.btn-outline-secondary.calendar {
    background-color: #fff;
}

.dropdown-item {
    cursor: pointer;
  }

.treecnt {
    background: #fff;
    border-top: 2px solid #f5f5f5;
}

.treescroll {
    overflow-y: scroll;
    display: block;
    height: calc(100vh - 300px);
    padding: 5px;
}

.treespace {
    padding: 15px;
}

.treecnt ::-webkit-scrollbar {
  width: 5px;
}
.treecnt ::-webkit-scrollbar-track {
  background: #f1f1f1;
}
.treecnt ::-webkit-scrollbar-thumb {
  background: #888;
}
.treecnt ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tree ul {
    margin: 0;
    padding: 0 0 0 20px;
}
.tree li {
    list-style-type:none;
    margin:3px 0;
    padding: 2px 2px;
    position:relative
}
.tree li.tree-active {
    background: #ddd;
    font-weight: bold;
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #ccc;
    height: calc(100% + 23px);
    top: -5px;
    width: 1px;
}
.tree li::after {
    border-top:1px solid #ccc;
    height:1px;
    top: 14px;
    width: 17px;
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0;
}
.tree li:last-child::before {
    height:20px;
}
.tree li.parent_li>span:hover, .tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
span.tree-icon {
    cursor: pointer;
    border: 1px solid #ccc;
    color: #ccc;
    width: 13px;
    height: 13px;
    display: block;
    float: left;
    line-height: 0.2;
    font-size: 16px;
    text-align: center;
    margin-left: -6px;
    margin-right: 5px;
    margin-top: 3px;
    position: relative;
}
span.tree-icon.tree-icon-close:after {
    content: "-";
    line-height: 0.5;
}
span.tree-icon.tree-icon-open:after {
    content: "+";
    padding-top: 2px;
    position: absolute;
    margin-left: -4px;
}
a.struttura {
  cursor:pointer;
}
a.struttura.selected {
    color: #dc3545;
    text-decoration: underline;
}
a.struttura:hover {
    color: #dc3545;
    font-weight: bold;
}
a.programmazione {
  cursor:pointer;
}
a.programmazione.selected {
    color: #000000;
    text-decoration: underline;
}
a.programmazione:hover{
    color: #000000;
    font-weight: bold;
}


body .autocomplete-container {
    box-shadow: none;
    height: auto;
    background: transparent;
    border-radius: 5px;
}

body ng-autocomplete.ng-autocomplete {
    padding: 0;
}

body .autocomplete-container .not-found {
    z-index: 2;
    width: calc(100% + 2px);
    border: 1px solid #ced4da;
    padding: 3px 10px;
    background: #fff;
    margin-left: -1px;
}

button.close {
    background: transparent;
    border: 0;
    font-size: 28px;
    position: absolute;
    right: 10px;
}

body .autocomplete-container .suggestions-container ul li div a {
    padding: 5px 10px;
}

a.btn.btn-free {
    padding: 0 0;
}
.ng-select.ng-select-single .ng-select-container {
    height: 41px;
    font-size: 15px;
}
.loader {
    position: fixed;
    top: 0;
    left: 0;
    background: hsl(0deg 0% 0% / 35%);
    z-index: 99999;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.spinner-border {
    border: .25em solid #fff;
    border-right-color: transparent;
    width: 125px;
    height: 125px;
}

.table thead th {
    color: #9e9e9e;
    font-weight: normal;
}
.bordo-rosso {
    border-top: 2px solid #9e9e9e !important;
}

.custom-tab .btnrop {
    padding: 0;
    margin: 0;
    font-size: 14px;
    line-height: 1;
}
ul.dropdown-menu ul.dropdown-menu {
    margin-left: 100% !important;
    top: 0px;
}

ul.dropdown-menu {
    margin-top: 9px;
    padding:0;
}
ul.dropdown-menu li a {
    height: 36px;
}

.box-bgtitle{
    padding:8px 15px;
    border:0;
    border-radius: 5px;
    color:#fff;
}
.box-area {
  background-color: #428100;
}
.box-obiettivo {
    background-color: #b3000f;
}
.box-azione {
  background-color: #e69720;
}

.box-nodo {
    background-color: silver;
}

.menuprog {
    z-index: 9;
    position: absolute;
    margin-left: -227px;
    padding: 15px;
    background: #fff;
    box-shadow: 0 0 10px #ccc;
    border-radius: 15px;
    width: 300px;
    margin-top: 11px;
}
.menuprog .btn {
    width: 100%;
}
.box-azione a, .box-obiettivo a , .box-area a {
  color:white;
}

.padre {
  padding-left:20px;
}
.padre2 {
  padding-left:40px;
}

.box-nodo {
  color:black;
}
.box-bgtitle {
  width:100%;
  text-align:center;
}

.three-dots-vertical {
  cursor:pointer;
}
.float-left {
  float:left;
}
.float-right {
  float:right;
}


button.calendar, button.calendar:active {
  width: 2.75rem;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=)!important;
  background-repeat: no-repeat;
  background-size: 23px;
  background-position: 50%;
  height:44px;
  width:38px;
}



.custom-tab a {
  cursor:pointer;
}


.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border: 0;
}


.spinner-border {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  vertical-align: text-bottom;
  border: .25em solid currentColor;
  border-right-color: transparent;
  border-radius: 50%;
  -webkit-animation: spinner-border .75s linear infinite;
  animation: spinner-border .75s linear infinite;
}


::ng-deep .ng-select.is-invalid .ng-select-container,
input.is-invalid.form-control{
    border: 1px solid #ced4da !important;
}

::ng-deep input.is-invalid{
    border: 1px solid #ced4da !important;
}
input.is-invalid.form-control[_ngcontent-svf-c133] {
    border: 0 solid #ced4da !important;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none !important;
    border-color: #ced4da;
}
.form-control:focus,
.form-control.is-invalid:focus, 
.was-validated .form-control:invalid:focus {
    border-color: #297A38 !important;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(41,122,56,.25);
}
    
.percent_bar_blu {
  background-color: #009191;
  height: 20px;
  color: #fff;
  text-align: right;
  float: left;
}

.percent_bar_rossa {
  background-color: #b3000f;
  height: 20px;
  color: #000;
  text-align: right;
  float: left;
}


.percent_bar_verde {
  background-color:#428100;
  height: 20px;
  color: #fff;
  text-align: right;
  float: left;
}


.percent_bar_arancione {
  background-color: #e79500;
  height: 20px;
  color: #000;
  text-align: right;
  float: left;
}


body .autocomplete-container .not-found {
    position: absolute;
}



.accordion-button:not(.collapsed) {
    color: #333333;
    background-color: #E6E9F2;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

/* TABELLE
---------------------------------- */
.trchild {
    background-color: rgba(230,233,242,.7) !important;
}
.thchild {
    content:'';
    background: url('./assets/img/right-arrow.png'); /*url of image*/
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position: 15px center;
}
.oddRow {
    background-color: rgba(230,233,242,.3);
    padding: 5px;
}
.text-end {
    min-width: 120px;
}
.bi-plus {
    height: 25px !important;
}



.alert {
    background-color: #003354;
    color: #FFFFFF;
    font-size: 1rem;
}
.bedge-shadow {
    position: absolute;
    top: 0;
    left: 95px;
    border-radius: 5px;
    box-shadow: 2px 2px 10px #dddddd;
}
.bedge-shadow button{
    padding: 0rem 0rem .3rem;
}


/* ------------ MOBILE -----------*/

@media (max-width: 575.98px) {

    .content{
        padding-left: 20px;
        padding-top:160px;
        padding-right: 20px;
    }
    .content.login-page {
        padding-left: 20px !important;
        padding-top: 100px;
        padding-right: 20px !important;
    }
    .header {
        position: fixed;
        width: 100%;
        background: #FFFFFF;
        padding: 10px 15px;
        z-index: 5;
        border-bottom: 1px solid #DDDDDD;
    }
    .header-title {
        font-size: 26px;
        font-weight: bold;
        line-height: 1;
    }
    .header-subtitle {
        line-height: 1;
    }
    .admin-btn {
        padding-right: 0;
        font-size: .8rem;
    }
    .admin-btn img {
        margin-right: 0;
        height: 20px;
    }
    .sidebar {
        position: fixed;
        top: 85px;
        background: #fff;
        width: 100vw;
        height: 65px;
        z-index: 6;
    }
    .sidebar ul {
        display: flex;
    }
    .sidebar li {
        flex-grow: 5;
    }


    .input-responsive {
        width: 150px;
    }





}

/* FLEXMONSTER 
----------------------------- */

#fm-toolbar-wrapper button.fm-ui-btn {
    font-family: 'Titilliumweb';
    -webkit-appearance: none;
    -moz-appearance: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-transform: uppercase;
    position: relative;
    outline: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    font-weight: bold;
    padding: 10px 12px;
    letter-spacing: 0;
    min-width: 90px;
    color: #297A38 !important;
    border: 1px solid #297A38 !important;
    background-color: #FFFFFF; 
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 130px;
}
#fm-toolbar-wrapper button.fm-ui-btn-dark {
    color: #FFFFFF !important;
    background: #297A38!important;
}
#fm-pivot-view a.fm-ui-btn-dark, #fm-pivot-view button.fm-ui-btn-dark, #fm-toolbar-wrapper a.fm-ui-btn-dark, #fm-toolbar-wrapper button.fm-ui-btn-dark {
    color: #FFFFFF;
    background: #297A38;
}
#fm-pivot-view div.fm-alert-view .fm-circle {
    display: block;
    border-radius: 50%;
    border: 30px solid #297A38;
    width: 60px;
    height: 60px;
    position: relative;
    margin-left: -10px;
}
.fm-title-text {
    font-family: 'Titilliumweb' !important;
}
#fm-toolbar-wrapper div.fm-panel .fm-title-bar .fm-toolbox {
    flex: 1;
    margin-top: 0;
    min-width: -moz-fit-content;
    min-width: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    float: right;
    text-align: right;
    margin-left: 0 !important;
}
#fm-toolbar-wrapper div.fm-panel .fm-toolbox .fm-ui-btn {
    height: 38px;
    max-width: calc((100% - 83px)/ 2);
    max-width: -webkit-calc((100% - 83px)/ 2);
    margin-right: 5px !important;
}



.hidetree {
    display: none !important;
}
.pointer-link{
    cursor: pointer;
}