<div class="content">
  <div class="breadcrumb">
    <a [routerLink]="['/home']">{{ "home" | translate }}</a> -
    <a [routerLink]="['/performance']">{{ "performance" | translate }}</a>
  </div>
  <div class="title">{{ "registrazioni" | translate }}</div>

  <performancebar page="registrazioni"></performancebar>

  <!--
  <div class="p-3"
    *ngIf="!loading && !permissionService.getPermission(currentUser,Permission.OrganigrammaStruttura,true)">
    {{"no permesso"|translate}}
  </div>
-->
  <!-- <div *ngIf="permissionService.getPermission(currentUser,Permission.OrganigrammaStruttura,true)"> -->

  <div class="maincnt">
    <span *ngIf="loading">
      <div class="loader">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
      </div>
    </span>

    <div *ngIf="cercaForm">
      <div
        class="d-flex flex-wrap align-items-center justify-content-center"
      ></div>
      <form [formGroup]="cercaForm" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="d-flex flex-wrap align-items-center">
            <div class="col-md-2 mb-3 p-3">
              <label
                class="form-control-placeholder-select"
                for="idValutatore"
                >{{ "valutatore" | translate }}</label
              >

              <ng-autocomplete
                style="width: 100%"
                class="form-control"
                formControlName="idValutatore"
                [data]="valutatori"
                [isLoading]="isLoadingValutatori"
                placeholder="Valutatore"
                [searchKeyword]="keyword"
                (inputChanged)="onChangeSearchValutatore($event)"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
              >
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.description"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>

            <div class="col-md-2 mb-3 p-3">
              <label class="form-control-placeholder-select" for="idValutato">{{
                "valutato" | translate
              }}</label>

              <ng-autocomplete
                style="width: 100%"
                class="form-control"
                formControlName="idValutato"
                [data]="valutati"
                [isLoading]="isLoadingValutati"
                placeholder="Valutato"
                [searchKeyword]="keyword"
                (inputChanged)="onChangeSearchValutato($event)"
                [itemTemplate]="itemTemplate"
                [notFoundTemplate]="notFoundTemplate"
              >
              </ng-autocomplete>

              <ng-template #itemTemplate let-item>
                <a [innerHTML]="item.description"></a>
              </ng-template>

              <ng-template #notFoundTemplate let-notFound>
                <div [innerHTML]="notFound"></div>
              </ng-template>
            </div>
            <div class="col-md-2 mb-3 p-3">
              <label
                class="form-control-placeholder-select"
                for="idStruttura"
                >{{ "organizzazione" | translate }}</label
              >

              <ng-select
                id="idStruttura"
                [multiple]="false"
                [items]="organizzazioni"
                [searchable]="false"
                [clearable]="true"
                bindLabel="codice"
                bindValue="id"
                formControlName="idStruttura"
                placeholder=" "
              >
                <ng-template ng-option-tmp let-item="item">
                  <label>{{ item.codice }}</label>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                  <span>{{ item.codice }}</span>
                </ng-template>
              </ng-select>
            </div>

            <div class="col-md-2 mb-3 p-3">
              <label
                class="form-control-placeholder-select"
                for="idRegolamento"
                >{{ "regolamento" | translate }}</label
              >

              <ng-select
                id="idRegolamento"
                [multiple]="false"
                [items]="regolamenti"
                [searchable]="false"
                [clearable]="true"
                bindLabel="codice"
                bindValue="id"
                formControlName="idRegolamento"
                placeholder=" "
              >
                <ng-template ng-option-tmp let-item="item">
                  <label>{{ item.codice }}</label>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                  <span>{{ item.codice }}</span>
                </ng-template>
              </ng-select>
            </div>

            <div class="col-md-2 mb-3 p-3">
              <label
                class="form-control-placeholder-select"
                for="idQuestionario"
                >{{ "questionario" | translate }}</label
              >

              <ng-select
                id="idQuestionario"
                [multiple]="false"
                [items]="questionari"
                [searchable]="false"
                [clearable]="true"
                bindLabel="codice"
                bindValue="id"
                formControlName="idQuestionario"
                placeholder=" "
              >
                <ng-template ng-option-tmp let-item="item">
                  <label>{{ item.codice }}</label>
                </ng-template>
                <ng-template ng-label-tmp let-item="item">
                  <span>{{ item.codice }}</span>
                </ng-template>
              </ng-select>
            </div>

            <div class="col-md-1 mb-2">
              <button class="btn btn-primary" type="submit">
                <i-bs name="search" width="1.5rem" height="1.5rem"></i-bs>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-12 text-end">
      <!-- <a *ngIf="writeAllowed()"  [routerLink]="['/sistema/utenti/crea']" class="btn btn-primary px-4"> -->
      <a
        [routerLink]="['/performance/registrazioni/crea']"
        class="btn btn-primary px-4"
      >
        <i-bs name="plus" width="1.5rem" height="1.5rem"></i-bs
        >{{ "nuova registrazione" | translate }}
      </a>
    </div>

    <div class="table-responsive">
      <table class="table align-middle table-big" *ngIf="!loading">
        <thead>
          <tr>
            <th scope="col">{{ "valutatore" | translate }}</th>
            <th scope="col">{{ "valutato" | translate }}</th>
            <th scope="col">{{ "inizio validita" | translate }}</th>
            <th scope="col">{{ "fine validita" | translate }}</th>
            <th scope="col">{{ "questionario" | translate }}</th>
            <th scope="col">{{ "regolamento" | translate }}</th>
            <th scope="col">{{ "organizzazione" | translate }}</th>
            <th scope="col">{{ "non valutare" | translate }}</th>
            <th scope="col">{{ "interim" | translate }}</th>
            <th scope="col">{{ "invio conferma" | translate }}</th>
            <th scope="col">{{ "presa visione scheda" | translate }}</th>
            <th scope="col">{{ "invio valutazione" | translate }}</th>
            <th scope="col">{{ "presa visione valutazione" | translate }}</th>
            <th scope="col"></th>
          </tr>
        </thead>

        <tbody style="background-color: white">
          <tr
            *ngFor="let registrazione of registrazioni; let i = index"
            [ngClass]="{ oddRow: i % 2 }"
          >
            <td>
              <a
                (click)="registrazioniValutatore(registrazione.valutatore?.id)"
                class="btn link-secondary cursor-move"
                title="{{ 'vai a registrazioni valutatore' || translate }}"
              >
                {{ registrazione.valutatore?.cognome }}
                {{ registrazione.valutatore?.nome }}
                {{ registrazione.valutatore?.codiceInterno?"["+registrazione.valutatore?.codiceInterno+"]":""}}
              </a>
            </td>
            <td>
              <a
                (click)="registrazioniValutato(registrazione.valutato?.id)"
                class="btn link-primary cursor-move"
                title="{{ 'vai a registrazioni valutato' || translate }}"
              >
                {{ registrazione.valutato?.cognome }}
                {{ registrazione.valutato?.nome }}
                 {{ registrazione.valutato?.codiceInterno?"["+registrazione.valutato?.codiceInterno+"]":""}}
              </a>
            </td>
            <td>
              {{ fieldsService.convertDate(registrazione.inizioValidita!) }}
            </td>
            <td>
              {{ fieldsService.convertDate(registrazione.fineValidita!) }}
            </td>
            <td>{{ registrazione.questionario?.descrizione }}</td>
            <td>{{ registrazione.regolamento?.descrizione }}</td>
            <td>{{ registrazione.organizzazione?.codice}} {{ registrazione.organizzazione?.descrizione }}</td>
            <td>
              {{
                  registrazione.nonValutare===true?'SI':''
              }}
            </td>
            <td>
              {{
                  registrazione.interim===true?'SI':''
              }}
            </td>
            <td>
              {{ fieldsService.convertDate(registrazione.dataPubblicazioneScheda) }}
            </td>
            <td>
              {{ fieldsService.convertDate(registrazione.dataPresaVisioneScheda) }}
            </td>
            <td>
              {{
                fieldsService.convertDate(registrazione.dataPubblicazioneValutazione)
              }}
            </td>
            <td>
              {{ fieldsService.convertDate(registrazione.dataPresaVisioneValutazione) }}
            </td>
            <td class="text-end">
              <a
                title="{{ 'vai a registrazione' | translate }}"
                (click)="vaiARegistrazione(registrazione.id)"
                class="btn btn-free"
              >
                <i-bs
                  class="m-0"
                  name="arrow-right"
                  width="1.5rem"
                  height="1.5rem"
                ></i-bs>
              </a>
              &nbsp;
              <a
                *ngIf="writeAllowed()"
                title="{{ 'modifica registrazione' | translate }}"
                [routerLink]="[
                  '/performance/registrazioni/dettaglio/' + registrazione.id
                ]"
                class="btn btn-free"
              >
                <i-bs
                  class="m-0"
                  name="pen"
                  width="1.5rem"
                  height="1.5rem"
                ></i-bs>
              </a>
              &nbsp;
              <a
                *ngIf="writeAllowed() 
                && ((registrazione.dataPubblicazioneScheda && !registrazione.dataPresaVisioneScheda)
                || (registrazione.dataPubblicazioneValutazione && !registrazione.dataPresaVisioneValutazione)) 
                && !registrazione.interim
                && !registrazione.nonValutare"
                title="{{ 'undo registrazione' | translate }}"
                (click)="undo(registrazione.id)"
                class="btn btn-free"
              >
                <i-bs
                  class="m-0"
                  name="arrow-bar-left"
                  width="1.5rem"
                  height="1.5rem"
                ></i-bs>
              </a>
              &nbsp;
              <a
                *ngIf="writeAllowed() && !registrazione.dataPubblicazioneScheda"
                title="{{ 'elimina registrazione' | translate }}"
                (click)="elimina(registrazione.id)"
                class="btn btn-free"
              >
                <i-bs
                  class="m-0"
                  name="trash"
                  width="1.5rem"
                  height="1.5rem"
                ></i-bs>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination
      *ngIf="!loading"
      [paginationService]="paginationService"
      class="flex-shrink-1"
    ></pagination>
  </div>
</div>
<!--content-->
